In [1]:
import pandas as pd
import numpy as np
movies = pd.read_csv("A:/Hari/imdbRatings.csv")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [2]:
# We can use python string functions using "str"
movies.actors_list = movies.actors_list.str.replace("[","").str.replace("]","")
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [4]:
# To take a copy
moviescp = movies.copy()
moviescp.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [5]:
moviescp.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [6]:
# Here you have to give all columns name even you don't want to change
moviescp.columns = ["StarRating","title","contentRating","genre","duration","actorList"]
moviescp.head()

,StarRating,title,contentRating,genre,duration,actorList
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [6]:
moviescp = movies.copy()
moviescp.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [8]:
# to change specific columns
moviescp = moviescp.rename(columns = {'star_rating':'starRating','content_rating':'contentRating','actors_list':'actorList'})
moviescp.head()

,StarRating,title,contentRating,genre,duration,actorList
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [10]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [12]:
# adding new columns
# you add a new colum based on the new column or a independent one
moviescp['Action'] = moviescp['genre'] == 'Action'
moviescp.head()

,StarRating,title,contentRating,genre,duration,actorList,Action
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'",False
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'",False
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'",False
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec...",True
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ...",False

In [14]:
moviescp["Excellent"] = moviescp['StarRating'] > 8
moviescp.head()

,StarRating,title,contentRating,genre,duration,actorList,Action,Excellent
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'",False,True
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'",False,True
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'",False,True
3,9.0,The Dark Knight,PG-13,Action,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec...",True,True
4,8.9,Pulp Fiction,R,Crime,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ...",False,True

In [18]:
# To insert columns at the desired location you can use insert
moviescp2 = movies.copy()
moviescp2.insert(4,"Action",moviescp2['genre'] == 'Action')
moviescp2.insert(5,"Excellent",moviescp2['star_rating']>8)
moviescp2.head()

,star_rating,title,content_rating,genre,Action,Excellent,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,False,True,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,False,True,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,False,True,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,True,True,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,False,True,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [27]:
# you can create a new column based on the old column then give your custom values based on the condition using numpy
moviescp3 = movies.copy()
moviescp3.insert(4,"Action",np.where(moviescp2['genre'] == 'Action',1,0))
moviescp3.insert(5,"Excellent",np.where(moviescp2['star_rating']>8,"Yes","No"))
moviescp3.head()

,star_rating,title,content_rating,genre,Action,Excellent,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,0,Yes,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,0,Yes,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,0,Yes,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"
3,9.0,The Dark Knight,PG-13,Action,1,Yes,152,"u'Christian Bale', u'Heath Ledger', u'Aaron Ec..."
4,8.9,Pulp Fiction,R,Crime,0,Yes,154,"u'John Travolta', u'Uma Thurman', u'Samuel L. ..."

In [28]:
moviescp3.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
Action              int32
Excellent          object
duration            int64
actors_list        object
dtype: object

In [29]:
# There are many scenarios you need to type cast the fields
moviescp4 = moviescp3.copy()
moviescp4['Action']= moviescp4['Action'].astype("float")
moviescp4["duration"] = moviescp4["duration"].astype("float")
moviescp4.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
Action            float64
Excellent          object
duration          float64
actors_list        object
dtype: object

In [30]:
moviescp4.head(3)

,star_rating,title,content_rating,genre,Action,Excellent,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,0.0,Yes,142.0,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,0.0,Yes,175.0,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,0.0,Yes,200.0,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"

In [33]:
moviescp5 = moviescp3.copy()
moviescp5.head(3)

,star_rating,title,content_rating,genre,Action,Excellent,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,0,Yes,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,0,Yes,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,0,Yes,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"

In [34]:
# to change muliple column datatype in one line 
moviescp5 = moviescp5.astype({'Action':'float','duration':'float'})
moviescp5.head(3)

,star_rating,title,content_rating,genre,Action,Excellent,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,0.0,Yes,142.0,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,0.0,Yes,175.0,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,0.0,Yes,200.0,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"

In [35]:
movies.index

RangeIndex(start=0, stop=979, step=1)

In [45]:
movies.iloc[1]

star_rating                                                 9.2
title                                             The Godfather
content_rating                                                R
genre                                                     Crime
duration                                                    175
actors_list       u'Marlon Brando', u'Al Pacino', u'James Caan'
Name: 1, dtype: object

In [71]:
movies.head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"u'Tim Robbins', u'Morgan Freeman', u'Bob Gunton'"
1,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"
2,9.1,The Godfather: Part II,R,Crime,200,"u'Al Pacino', u'Robert De Niro', u'Robert Duvall'"

In [73]:
# we can find the duplicated rows by using duplicated function
movies[movies.duplicated()]

,star_rating,title,content_rating,genre,duration,actors_list
979,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"

In [74]:
movies.shape

(980, 6)

In [75]:
# you can find the duplicates by narrowing down to the specific columns
movies[movies.duplicated(subset=['star_rating','duration'])]

,star_rating,title,content_rating,genre,duration,actors_list
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"u'James Stewart', u'Donna Reed', u'Lionel Barr..."
35,8.6,Modern Times,G,Comedy,87,"u'Charles Chaplin', u'Paulette Goddard', u'Hen..."
38,8.6,Rear Window,APPROVED,Mystery,112,"u'James Stewart', u'Grace Kelly', u'Wendell Co..."
47,8.5,Taare Zameen Par,PG,Drama,165,"u'Darsheel Safary', u'Aamir Khan', u'Tanay Chh..."
50,8.5,Cinema Paradiso,R,Drama,155,"u'Philippe Noiret', u'Enzo Cannavale', u'Anton..."
56,8.5,The Lives of Others,R,Drama,137,"u'Ulrich M\xfche', u'Martina Gedeck', u'Sebast..."
59,8.5,Django Unchained,R,Western,165,"u'Jamie Foxx', u'Christoph Waltz', u'Leonardo ..."
61,8.5,Grave of the Fireflies,UNRATED,Animation,89,"u'Tsutomu Tatsumi', u'Ayano Shiraishi', u'Akem..."
70,8.4,Amelie,R,Comedy,122,"u'Audrey Tautou', u'Mathieu Kassovitz', u'Rufus'"
80,8.4,Star Wars: Episode VI - Return of the Jedi,PG,Action,134,"u'Mark Hamill', u'Harrison Ford', u'Carrie Fis..."
86,8.4,A Clockwork Orange,X,Crime,136,"u'Malcolm McDowell', u'Patrick Magee', u'Micha..."
90,8.4,Reservoir Dogs,R,Crime,99,"u'Harvey Keitel', u'Tim Roth', u'Michael Madsen'"
94,8.4,Singin' in the Rain,APPROVED,Comedy,103,"u'Gene Kelly', u""Donald O'Connor"", u'Debbie Re..."
97,8.4,The Sting,PG,Comedy,129,"u'Paul Newman', u'Robert Redford', u'Robert Shaw'"
114,8.3,Inglourious Basterds,R,Adventure,153,"u'Brad Pitt', u'Diane Kruger', u'Eli Roth'"
124,8.3,Raging Bull,R,Biography,129,"u'Robert De Niro', u'Cathy Moriarty', u'Joe Pe..."
127,8.3,Wild Strawberries,UNRATED,Drama,91,"u'Victor Sj\xf6str\xf6m', u'Bibi Andersson', u..."
134,8.3,The Seventh Seal,NOT RATED,Drama,96,"u'Max von Sydow', u'Gunnar Bj\xf6rnstrand', u'..."
135,8.3,Heat,R,Action,170,"u'Al Pacino', u'Robert De Niro', u'Val Kilmer'"
138,8.3,Die Hard,R,Action,131,"u'Bruce Willis', u'Alan Rickman', u'Bonnie Bed..."
139,8.3,Good Will Hunting,R,Drama,126,"u'Robin Williams', u'Matt Damon', u'Ben Affleck'"
140,8.3,The Wages of Fear,NOT RATED,Adventure,131,"u'Yves Montand', u'Charles Vanel', u'Peter van..."
141,8.3,The Secret in Their Eyes,R,Drama,129,"u'Ricardo Dar\xedn', u'Soledad Villamil', u'Pa..."
153,8.2,The Big Lebowski,R,Comedy,117,"u'Jeff Bridges', u'John Goodman', u'Julianne M..."
162,8.2,Gran Torino,R,Drama,116,"u'Clint Eastwood', u'Bee Vang', u'Christopher ..."
165,8.2,My Sassy Girl,NOT RATED,Comedy,123,"u'Tae-hyun Cha', u'Gianna Jun', u'In-mun Kim'"
171,8.2,Dial M for Murder,PG,Crime,105,"u'Ray Milland', u'Grace Kelly', u'Robert Cummi..."
173,8.2,Tae Guk Gi: The Brotherhood of War,R,Action,140,"u'Dong-gun Jang', u'Bin Won', u'Eun-ju Lee'"
176,8.2,Fargo,R,Crime,98,"u'William H. Macy', u'Frances McDormand', u'St..."
179,8.2,The Princess Bride,PG,Adventure,98,"u'Cary Elwes', u'Mandy Patinkin', u'Robin Wright'"
...,...,...,...,...,...,...
907,7.5,The Proposition,R,Crime,104,"u'Ray Winstone', u'Guy Pearce', u'Emily Watson'"
908,7.5,Bullitt,PG,Action,114,"u'Steve McQueen', u'Jacqueline Bisset', u'Robe..."
910,7.5,2046,R,Drama,129,"u'Tony Chiu Wai Leung', u'Ziyi Zhang', u'Faye ..."
912,7.5,Smoke,R,Comedy,112,"u'Harvey Keitel', u'William Hurt', u'Giancarlo..."
915,7.5,Bad Education,NC-17,Crime,106,"u'Gael Garc\xeda Bernal', u'Fele Mart\xednez',..."
916,7.5,Up in the Air,R,Drama,109,"u'George Clooney', u'Vera Farmiga', u'Anna Ken..."
917,7.5,Begin Again,R,Drama,104,"u'Keira Knightley', u'Mark Ruffalo', u'Adam Le..."
920,7.5,Witness,R,Crime,112,"u'Harrison Ford', u'Kelly McGillis', u'Lukas H..."
921,7.5,Trading Places,R,Comedy,116,"u'Eddie Murphy', u'Dan Aykroyd', u'Ralph Bellamy'"
922,7.5,Mud,PG-13,Drama,130,"u'Matthew McConaughey', u'Tye Sheridan', u'Jac..."
923,7.5,Across the Universe,PG-13,Drama,133,"u'Evan Rachel Wood', u'Jim Sturgess', u'Joe An..."
924,7.5,Les Miserables,PG-13,Crime,134,"u'Liam Neeson', u'Geoffrey Rush', u'Uma Thurman'"
925,7.5,Notes on a Scandal,R,Drama,92,"u'Cate Blanchett', u'Judi Dench', u'Andrew Sim..."
926,7.5,Inside Llewyn Davis,R,Drama,104,"u'Oscar Isaac', u'Carey Mulligan', u'John Good..."
927,7.5,Brick,R,Crime,110,"u'Joseph Gordon-Levitt', u'Lukas Haas', u'Emil..."
928,7.5,Clerks II,R,Comedy,97,"u""Brian O'Halloran"", u'Jeff Anderson', u'Rosar..."
934,7.4,"Crazy, Stupid, Love.",PG-13,Comedy,118,"u'Steve Carell', u'Ryan Gosling', u'Julianne M..."
943,7.4,The Bucket List,PG-13,Adventure,97,"u'Jack Nicholson', u'Morgan Freeman', u'Sean H..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"u'Woody Allen', u'Diane Keaton', u'Jerry Adler'"
960,7.4,The Way Way Back,PG-13,Comedy,103,"u'Steve Carell', u'Toni Collette', u'Allison J..."
963,7.4,La Femme Nikita,R,Action,118,"u'Anne Parillaud', u'Marc Duret', u'Patrick Fo..."
965,7.4,Limitless,PG-13,Mystery,105,"u'Bradley Cooper', u'Anna Friel', u'Abbie Corn..."
969,7.4,Law Abiding Citizen,R,Crime,109,"u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb'"
970,7.4,Wonder Boys,R,Drama,107,"u'Michael Douglas', u'Tobey Maguire', u'France..."
972,7.4,Blue Valentine,NC-17,Drama,112,"u'Ryan Gosling', u'Michelle Williams', u'John ..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"u'Michael J. Fox', u'Christopher Lloyd', u'Mar..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"u'Russell Crowe', u'Paul Bettany', u'Billy Boyd'"
977,7.4,Poltergeist,PG,Horror,114,"u'JoBeth Williams', u""Heather O'Rourke"", u'Cra..."
978,7.4,Wall Street,R,Crime,126,"u'Charlie Sheen', u'Michael Douglas', u'Tamara..."
979,9.2,The Godfather,R,Crime,175,"u'Marlon Brando', u'Al Pacino', u'James Caan'"

In [76]:
movies[(movies["star_rating"] == 8.7) &(movies["duration"] == 130)]

,star_rating,title,content_rating,genre,duration,actors_list
21,8.7,City of God,R,Crime,130,"u'Alexandre Rodrigues', u'Matheus Nachtergaele..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"u'James Stewart', u'Donna Reed', u'Lionel Barr..."