<p style="font-family: Arial; font-size:3em;color:purple; font-style:bold"><br>
Python Data Sturctures <br><br><br></p>

# 1). List

In [151]:
# a list is defined by the square brackets
a = [1,32,536,113,1,536,141,441,114,14,6,15,1,4,353,5,1,4,4]
len(a) # It gives the length of the list

19

In [177]:
# we can also create list using range(start,end-1)
ar = list(range(1,10))
ar

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
# This technique of getting the element in the list is called indexing.
# we can get only one element using indexing
print(a[0]) 
print(a[-1])

1
4

In [153]:
# This technique is called slicing
# With slicing we can get multiple elements
print(a[0:])
print(a[0:-2])

[1, 32, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4]
[1, 32, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1]

In [154]:
# we can add new elements in the list using append function
# It adds the new elements to the end of the list
# with append we can add only one element at a time
a.append("hari")
print(a)
len(a)

[1, 32, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4, 'hari']

20

In [155]:
#But with extend function we can add multiple elements
a.extend([500,500,500])
print(a)
len(a)

[1, 32, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4, 'hari', 500, 500, 500]

23

In [156]:
# If we want to insert elements in a specific location go for insert funstion
a.insert(2,0)
print(a)

[1, 32, 0, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4, 'hari', 500, 500, 500]

In [157]:
# count function gives the number of occurences of a particular element
a.count(1)

4

In [158]:
# It gives the index of the elements you want to find 
print(a.index(1))
print(a.index(4))

0
14

In [163]:
print(a)
a.pop() # pop removes the last element from the list if the index is npot given
a.pop(1)# If index is given it removes the specific index value
print(a)

[1, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4]
[1, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1]

In [169]:
A1 = [1,2,3]
print(A1)
A2 = A1
print(A2)
A2[0] = 'hari'
print(A1) # when I try to change A2 then A1 also changes. This is called deep copying
print(A2) #  inserts copies of the objects found in the original. They have shared copy

[1, 2, 3]
[1, 2, 3]
['hari', 2, 3]
['hari', 2, 3]

In [170]:
A1 = [1,2,3]
A2 = A1.copy() # To avoid deep copy we can use shallow copy using copy function
A2[0] = 'hari'
print(A2)
print(A1)

['hari', 2, 3]
[1, 2, 3]

In [77]:
print(A1)
A1.remove('hari') # It removes the elements from the list and it removes only one element
print(A1) # To be precise it removes only the first instances of the element

['hari', 2, 3]
[2, 3]

In [171]:
print(a)
print(len(a))
a.remove(1) #To be precise it removes only the first instances of the element
print(a)
print(len(a))

[1, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1]
15
[113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1]
14

In [79]:
a = [1, 32, 0, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4]
print(sorted(a))# we can sort the elements in the list using sorted function
print(sorted(a,reverse=True)) # by deafault reverse reverse  = False which is ASc you can change to DESc by using false
print(a)# It is not inplace sort hence the values won't change in the original

[0, 1, 1, 1, 1, 4, 4, 4, 5, 6, 14, 15, 32, 113, 114, 141, 353, 441, 536, 536]
[536, 536, 441, 353, 141, 114, 113, 32, 15, 14, 6, 5, 4, 4, 4, 1, 1, 1, 1, 0]
[1, 32, 0, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4]

In [80]:
a = [1, 32, 0, 536, 113, 1, 536, 141, 441, 114, 14, 6, 15, 1, 4, 353, 5, 1, 4, 4]
a.sort()# whereas in sort function it is a inplace sort 
print(a)# so the original values got affected

[0, 1, 1, 1, 1, 4, 4, 4, 5, 6, 14, 15, 32, 113, 114, 141, 353, 441, 536, 536]

In [81]:
print(a)
a.reverse() # It reverses the list and it is inplace = True
print(a)

[0, 1, 1, 1, 1, 4, 4, 4, 5, 6, 14, 15, 32, 113, 114, 141, 353, 441, 536, 536]
[536, 536, 441, 353, 141, 114, 113, 32, 15, 14, 6, 5, 4, 4, 4, 1, 1, 1, 1, 0]

In [66]:
print(a)
del a[0:5] # you can delete the elements of a particular span by using del
print(a)

[4, 4, 1, 5, 353, 4, 1, 15, 6, 14, 114, 441, 141, 536, 1, 113, 536, 32, 1]
[4, 1, 15, 6, 14, 114, 441, 141, 536, 1, 113, 536, 32, 1]

In [70]:
print(a)
for i in range(4,9):
    a[i] = 1
print(a)

[4, 1, 15, 6, 14, 114, 441, 141, 536, 1, 113, 536, 32, 1]
[4, 1, 15, 6, 1, 1, 1, 1, 1, 1, 113, 536, 32, 1]

# Tuple

In [82]:
# A tuple is defined by ()
# only difference between list and tuple is list is mutable and tuple is immutable
A = (4, 1, 15, 6, 14, 114, 441, 141, 536, 1, 113, 536, 32, 1)

In [83]:
print(A.count(1))#same as list
print(A.index(15))

3
2

# Dictionary

In [91]:
# A dictionary is defined by using curly brackets  {}
# A dictionary is a {key :value} pair element
# where key is unique in dictionary
dic1= {'a':1,'b':2,'c':5}
print(dic1.keys())
print(dic1.items())
print(dic1.values())
dic1.pop('a')
print(dic1.items())

dict_keys(['a', 'b', 'c'])
dict_items([('a', 1), ('b', 2), ('c', 5)])
dict_values([1, 2, 5])
dict_items([('b', 2), ('c', 5)])

In [97]:
print(dic1)
print(dic1['b']) # retriving values with the help of key
print(dic1.get('b'))

{'b': 2, 'c': 5}
2
2

In [101]:
print(dic1)
dic1.update({'d':4}) # we can add the elements to the dictionary with update command
dic1

{'b': 2, 'c': 5, 'a': 4}

{'a': 4, 'b': 2, 'c': 5, 'd': 4}

In [108]:
keys = {'a', 'e', 'i', 'o', 'u' }
value = 'vowel'

vowels = dict.fromkeys(keys, value)# If you want to create dictionary with constant value
print(vowels)

{'a': 'vowel', 'u': 'vowel', 'e': 'vowel', 'i': 'vowel', 'o': 'vowel'}

# Set

In [107]:
# set is also defined by using curly brackets {}
# set allows only unique elements
a= {1,2,3,4,5,1,1,2,2,3}
a.add(25)
a.add('hari') # It is like append in list
print(a)
a.update([89,90,91]) # It is like extend in list
print(a)

{1, 2, 3, 4, 5, 25, 'hari'}
{89, 1, 2, 3, 4, 5, 90, 25, 'hari', 91}