# Time Module

In [22]:
# time module available in Python which provides functions for working with times
import time

In [23]:
# It returns seconds since 12:00am, January 1, 1970(epoch).
time.time()

1545978579.3857377

In [24]:
# This returns a tuple with current time and date
time.localtime()

time.struct_time(tm_year=2018, tm_mon=12, tm_mday=28, tm_hour=12, tm_min=0, tm_sec=7, tm_wday=4, tm_yday=362, tm_isdst=0)

In [25]:
# Gives the current time and date in string format
time.ctime()

'Fri Dec 28 12:01:16 2018'

In [26]:
# Returns Timezone name
time.tzname

('India Standard Time', 'India Daylight Time')

In [27]:
# Time module is really useful in many cases where you want your program to be idle for some time
list1 = ["Hello","Dear","Good Morning"]
for i in list1:
    time.sleep(10)
    print(i)

Hello
Dear
Good Morning

In [29]:
# simple break app
import webbrowser
import random
import time
break_count = 0
total_breaks = 1
while (break_count < total_breaks):
    print("this program started in", time.ctime())
    #time.sleep(10)
    print("take a break bro.chill out!!!")
    time.sleep(2)
    print("i'm playing a song for you")
    time.sleep(2)
    web = ["https://www.youtube.com/watch?v=5za6Rroz3bI","https://www.youtube.com/watch?v=3rPEWcY6Oww&t=50s","https://www.youtube.com/watch?v=k4yXQkG2s1E","https://www.youtube.com/watch?v=wTgrZE9RWNY","https://www.youtube.com/watch?v=RunYl3Q0SYI","https://www.youtube.com/watch?v=MubpNJAMu6c","https://www.youtube.com/watch?v=nCD2hj6zJEc"]
    webbrowser.open(random.choice(web))
    break_count += 1

this program started in Fri Dec 28 12:05:40 2018
take a break bro.chill out!!!
i'm playing a song for you

# Datetime Module

In [2]:
# datetime module is also very important module in dealling with dates
import datetime

In [38]:
datetime.datetime.now()

datetime.datetime(2018, 12, 28, 12, 11, 57, 258327)

In [31]:
currenttime = datetime.datetime.now()
print(currenttime)
print(currenttime.date())
print(currenttime.day)
print(currenttime.month)
print(currenttime.year)
print(currenttime.hour)
print(currenttime.minute)
print(currenttime.ctime())
print(currenttime.tzinfo)
print(currenttime.isoweekday())

2018-12-28 12:07:02.678049
2018-12-28
28
12
2018
12
7
Fri Dec 28 12:07:02 2018
None
5

In [32]:
# We can create date by using the below code
# the format for creating dates is yyyy,mm,dd
datetime.date(1994,9,8)

datetime.date(1994, 9, 8)

In [33]:
# whenever you subtract two dates it returns timedelta object
datetime.datetime.now().date() - datetime.date(1994,9,8)

datetime.timedelta(8877)

In [35]:
# Timedelta can be really handy when finding diff between twodatevalues
print(datetime.datetime.now().date())
print(datetime.datetime.now().date() - datetime.timedelta(205))

2018-12-28
2018-06-06

In [36]:
datetime.datetime.utcfromtimestamp(1545979237)

datetime.datetime(2018, 12, 28, 6, 40, 37)

In [42]:
# converting string to date
date_string1 = "january26,2018"
date_string2 = "Jan26,2018"
date_string3 = "jan26th2018"
date1 = datetime.datetime.strptime(date_string1,"%B%d,%Y")
date2 = datetime.datetime.strptime(date_string2,"%b%d,%Y")
date3 = datetime.datetime.strptime(date_string3,"%b%dth%Y")
print(date3.date())
print(datetime.datetime.strftime(date1,"%Y")) # It is used to split the required arguments form datetime objects
print(date1)
print(date2.date())

2018-01-26
2018
2018-01-26 00:00:00
2018-01-26

# Calender Module

In [44]:
import calendar

In [45]:
print(calendar.month(2019,1))

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [46]:
print(calendar.calendar(2019))

                                  2019

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [47]:
print(calendar.isleap(2000))
print(calendar.isleap(2012))
print(calendar.isleap(2019))

True
True
False