In [1]:
import pandas as pd

In [11]:
reliance = pd.read_csv("A:\Hari\RELIANCE.csv",parse_dates=['Date'])
reliance.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-08,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
4,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0

In [3]:
reliance.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume              float64
dtype: object

In [8]:
type(reliance.loc[1,'Open'])

numpy.float64

In [6]:
print(reliance.Date.min())
print(reliance.Date.max())

2017-08-08 00:00:00
2018-08-08 00:00:00

In [3]:
reliance.shape

(251, 7)

In [8]:
dateRange = pd.date_range(start='2017-08-08',end='2018-08-08',freq='D')
print(len(dateRange))
dateRange

366

DatetimeIndex(['2017-08-08', '2017-08-09', '2017-08-10', '2017-08-11',
               '2017-08-12', '2017-08-13', '2017-08-14', '2017-08-15',
               '2017-08-16', '2017-08-17',
               ...
               '2018-07-30', '2018-07-31', '2018-08-01', '2018-08-02',
               '2018-08-03', '2018-08-04', '2018-08-05', '2018-08-06',
               '2018-08-07', '2018-08-08'],
              dtype='datetime64[ns]', length=366, freq='D')

In [12]:
reliance_full = pd.merge(pd.DataFrame(dateRange,columns=['Date']),reliance,how = 'left',on='Date')
reliance_full

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-08,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
4,2017-08-12,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-08-13,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
7,2017-08-15,NaN,NaN,NaN,NaN,NaN,NaN
8,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
9,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
10,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
11,2017-08-19,NaN,NaN,NaN,NaN,NaN,NaN
12,2017-08-20,NaN,NaN,NaN,NaN,NaN,NaN
13,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
14,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
15,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
16,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
17,2017-08-25,NaN,NaN,NaN,NaN,NaN,NaN
18,2017-08-26,NaN,NaN,NaN,NaN,NaN,NaN
19,2017-08-27,NaN,NaN,NaN,NaN,NaN,NaN
20,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
21,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
22,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
23,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
24,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
25,2017-09-02,NaN,NaN,NaN,NaN,NaN,NaN
26,2017-09-03,NaN,NaN,NaN,NaN,NaN,NaN
27,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
28,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
29,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
...,...,...,...,...,...,...,...
336,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
337,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
338,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
339,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
340,2018-07-14,NaN,NaN,NaN,NaN,NaN,NaN
341,2018-07-15,NaN,NaN,NaN,NaN,NaN,NaN
342,2018-07-16,NaN,NaN,NaN,NaN,NaN,NaN
343,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
344,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
345,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
346,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
347,2018-07-21,NaN,NaN,NaN,NaN,NaN,NaN
348,2018-07-22,NaN,NaN,NaN,NaN,NaN,NaN
349,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
350,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
351,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
352,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
353,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
354,2018-07-28,NaN,NaN,NaN,NaN,NaN,NaN
355,2018-07-29,NaN,NaN,NaN,NaN,NaN,NaN
356,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
357,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
358,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
359,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
360,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
361,2018-08-04,NaN,NaN,NaN,NaN,NaN,NaN
362,2018-08-05,NaN,NaN,NaN,NaN,NaN,NaN
363,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
364,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
365,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

In [14]:
reliance_full.to_csv(R"A:\Hari\reliance_full.csv",index=False)

In [12]:
reliance_full.isnull().head()

NameError: name 'reliance_full' is not defined

In [20]:
reliance_full.isnull().all()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [19]:
reliance_full.isnull().any()

Date         False
Open          True
High          True
Low           True
Close         True
Adj Close     True
Volume        True
dtype: bool

In [22]:
reliance_full.isna().any()

Date         False
Open          True
High          True
Low           True
Close         True
Adj Close     True
Volume        True
dtype: bool

In [23]:
reliance_fullcp = reliance_full.copy()

In [31]:
reliance_fullcp.isnull().sum()

Date           0
Open         117
High         117
Low          117
Close        117
Adj Close    117
Volume       117
dtype: int64

In [32]:
reliance_fullcp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 365
Data columns (total 7 columns):
Date         366 non-null datetime64[ns]
Open         249 non-null float64
High         249 non-null float64
Low          249 non-null float64
Close        249 non-null float64
Adj Close    249 non-null float64
Volume       249 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 32.9 KB

In [34]:
reliance_fullcp.shape

(366, 7)

# dropping missing values

In [33]:
# 0- index ,1- columns
reliance_fullcp.dropna(axis=0,how='any').shape

(249, 7)

In [35]:
reliance_fullcp.dropna(axis=0,how='all').shape

(366, 7)

In [37]:
reliance_fullcp.dropna(axis=0,how='all',subset=['Open','Close']).shape

(249, 7)

In [38]:
reliance_fullcp.dropna(axis=0,how='any',subset=['Open','Close']).shape

(249, 7)

In [48]:
# index are not arranged in correct order we can reset it 
reliance1 = reliance_fullcp.dropna(axis=0,how='any',subset=['Open','Close'])
reliance1

,Date,Open,High,Low,Close,Adj Close,Volume
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
6,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
8,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
9,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
10,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
13,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
14,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
15,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
16,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
20,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
21,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
22,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
23,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
24,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
27,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
28,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
29,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
30,2017-09-07,823.000000,832.500000,815.000000,818.099976,813.085815,7408536.0
31,2017-09-08,820.000000,823.250000,812.099976,816.900024,811.893250,6056729.0
34,2017-09-11,821.299988,826.849976,816.549988,817.900024,812.887085,5801712.0
35,2017-09-12,822.750000,825.000000,817.000000,823.750000,818.701233,2971669.0
36,2017-09-13,824.000000,859.900024,822.000000,849.000000,843.796448,13430225.0
37,2017-09-14,855.799988,861.500000,842.000000,843.849976,838.677979,5425486.0
38,2017-09-15,842.000000,852.849976,834.750000,841.799988,836.640564,13072853.0
41,2017-09-18,850.000000,851.049988,843.099976,845.549988,840.367615,2314174.0
42,2017-09-19,848.700012,848.750000,837.000000,838.599976,833.460144,3528729.0
43,2017-09-20,856.099976,872.500000,845.099976,847.150024,841.957825,11402965.0
44,2017-09-21,847.000000,851.700012,836.250000,841.349976,836.193298,5920552.0
...,...,...,...,...,...,...,...
323,2018-06-27,978.500000,985.400024,962.700012,965.849976,965.849976,8958555.0
324,2018-06-28,962.000000,968.500000,940.299988,944.950012,944.950012,8581234.0
325,2018-06-29,949.099976,975.500000,949.000000,972.450012,972.450012,7966401.0
328,2018-07-02,972.349976,972.349976,957.000000,960.599976,960.599976,6660916.0
329,2018-07-03,965.000000,978.450012,960.349976,971.299988,971.299988,5067261.0
330,2018-07-04,971.799988,992.000000,971.000000,990.099976,990.099976,5000724.0
331,2018-07-05,997.000000,1008.400024,958.599976,964.500000,964.500000,18719353.0
332,2018-07-06,964.750000,983.000000,964.500000,977.549988,977.549988,9161266.0
335,2018-07-09,987.099976,1000.000000,983.500000,997.099976,997.099976,5170189.0
336,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
337,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
338,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
339,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
343,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
344,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
345,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
346,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
349,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
350,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
351,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
352,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
353,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
356,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
357,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
358,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
359,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
360,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
363,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
364,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
365,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

In [49]:
reliance1 = reliance1.reset_index(drop=True)

In [50]:
reliance1

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
1,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
2,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
3,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
4,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
5,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
6,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
7,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
8,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
9,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
10,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
11,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
12,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
13,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
14,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
15,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
16,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
17,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
18,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
19,2017-09-07,823.000000,832.500000,815.000000,818.099976,813.085815,7408536.0
20,2017-09-08,820.000000,823.250000,812.099976,816.900024,811.893250,6056729.0
21,2017-09-11,821.299988,826.849976,816.549988,817.900024,812.887085,5801712.0
22,2017-09-12,822.750000,825.000000,817.000000,823.750000,818.701233,2971669.0
23,2017-09-13,824.000000,859.900024,822.000000,849.000000,843.796448,13430225.0
24,2017-09-14,855.799988,861.500000,842.000000,843.849976,838.677979,5425486.0
25,2017-09-15,842.000000,852.849976,834.750000,841.799988,836.640564,13072853.0
26,2017-09-18,850.000000,851.049988,843.099976,845.549988,840.367615,2314174.0
27,2017-09-19,848.700012,848.750000,837.000000,838.599976,833.460144,3528729.0
28,2017-09-20,856.099976,872.500000,845.099976,847.150024,841.957825,11402965.0
29,2017-09-21,847.000000,851.700012,836.250000,841.349976,836.193298,5920552.0
...,...,...,...,...,...,...,...
219,2018-06-27,978.500000,985.400024,962.700012,965.849976,965.849976,8958555.0
220,2018-06-28,962.000000,968.500000,940.299988,944.950012,944.950012,8581234.0
221,2018-06-29,949.099976,975.500000,949.000000,972.450012,972.450012,7966401.0
222,2018-07-02,972.349976,972.349976,957.000000,960.599976,960.599976,6660916.0
223,2018-07-03,965.000000,978.450012,960.349976,971.299988,971.299988,5067261.0
224,2018-07-04,971.799988,992.000000,971.000000,990.099976,990.099976,5000724.0
225,2018-07-05,997.000000,1008.400024,958.599976,964.500000,964.500000,18719353.0
226,2018-07-06,964.750000,983.000000,964.500000,977.549988,977.549988,9161266.0
227,2018-07-09,987.099976,1000.000000,983.500000,997.099976,997.099976,5170189.0
228,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
229,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
230,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
231,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
232,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
233,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
234,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
235,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
236,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
237,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
238,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
239,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
240,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
241,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
242,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
243,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
244,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
245,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
246,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
247,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
248,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

# Filling missing values

In [53]:
# we can either choose to drop or fill missing values
# forwardfill
reliance_full.fillna(method='ffill')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-08,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
4,2017-08-12,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
5,2017-08-13,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
6,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
7,2017-08-15,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
8,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
9,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
10,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
11,2017-08-19,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
12,2017-08-20,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
13,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
14,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
15,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
16,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
17,2017-08-25,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
18,2017-08-26,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
19,2017-08-27,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
20,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
21,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
22,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
23,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
24,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
25,2017-09-02,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
26,2017-09-03,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
27,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
28,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
29,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
...,...,...,...,...,...,...,...
336,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
337,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
338,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
339,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
340,2018-07-14,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
341,2018-07-15,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
342,2018-07-16,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
343,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
344,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
345,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
346,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
347,2018-07-21,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
348,2018-07-22,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
349,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
350,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
351,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
352,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
353,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
354,2018-07-28,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
355,2018-07-29,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
356,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
357,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
358,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
359,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
360,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
361,2018-08-04,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
362,2018-08-05,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
363,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
364,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
365,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

In [57]:
#forward fill
reliance_full.fillna(method='pad')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-08,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
4,2017-08-12,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
5,2017-08-13,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
6,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
7,2017-08-15,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
8,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
9,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
10,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
11,2017-08-19,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
12,2017-08-20,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
13,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
14,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
15,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
16,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
17,2017-08-25,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
18,2017-08-26,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
19,2017-08-27,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
20,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
21,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
22,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
23,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
24,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
25,2017-09-02,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
26,2017-09-03,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
27,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
28,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
29,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
...,...,...,...,...,...,...,...
336,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
337,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
338,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
339,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
340,2018-07-14,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
341,2018-07-15,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
342,2018-07-16,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
343,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
344,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
345,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
346,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
347,2018-07-21,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
348,2018-07-22,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
349,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
350,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
351,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
352,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
353,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
354,2018-07-28,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
355,2018-07-29,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
356,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
357,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
358,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
359,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
360,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
361,2018-08-04,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
362,2018-08-05,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
363,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
364,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
365,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

In [54]:
#backward fill
reliance_full.fillna(method='bfill')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-08,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
4,2017-08-12,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
5,2017-08-13,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
6,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
7,2017-08-15,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
8,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
9,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
10,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
11,2017-08-19,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
12,2017-08-20,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
13,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
14,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
15,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
16,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
17,2017-08-25,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
18,2017-08-26,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
19,2017-08-27,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
20,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
21,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
22,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
23,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
24,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
25,2017-09-02,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
26,2017-09-03,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
27,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
28,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
29,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
...,...,...,...,...,...,...,...
336,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
337,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
338,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
339,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
340,2018-07-14,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
341,2018-07-15,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
342,2018-07-16,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
343,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
344,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
345,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
346,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
347,2018-07-21,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
348,2018-07-22,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
349,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
350,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
351,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
352,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
353,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
354,2018-07-28,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
355,2018-07-29,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
356,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
357,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
358,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
359,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
360,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
361,2018-08-04,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
362,2018-08-05,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
363,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
364,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
365,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

In [58]:
#backward fill
reliance_full.fillna(method='backfill')

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-08-08,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
1,2017-08-09,800.750000,810.000000,792.500000,799.400024,794.500488,4771286.0
2,2017-08-10,796.525024,803.325012,788.974976,792.174988,787.319702,4657686.0
3,2017-08-11,775.474976,790.000000,766.500000,773.125000,768.386475,7770128.0
4,2017-08-12,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
5,2017-08-13,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
6,2017-08-14,780.500000,792.250000,780.500000,786.525024,781.704407,6144598.0
7,2017-08-15,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
8,2017-08-16,786.000000,788.000000,775.099976,783.049988,778.250671,6206788.0
9,2017-08-17,784.500000,798.825012,780.575012,783.549988,778.747620,7236358.0
10,2017-08-18,782.000000,788.900024,776.575012,787.700012,782.872192,3628022.0
11,2017-08-19,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
12,2017-08-20,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
13,2017-08-21,788.500000,792.075012,780.125000,782.200012,777.405884,3462376.0
14,2017-08-22,786.000000,789.950012,778.025024,780.025024,775.244202,4358460.0
15,2017-08-23,782.424988,793.275024,776.575012,791.025024,786.176819,3803648.0
16,2017-08-24,795.000000,796.549988,782.250000,784.025024,779.219727,5785142.0
17,2017-08-25,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
18,2017-08-26,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
19,2017-08-27,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
20,2017-08-28,789.525024,790.974976,780.599976,783.275024,778.474304,5630656.0
21,2017-08-29,780.924988,783.750000,765.000000,766.075012,761.379700,6932842.0
22,2017-08-30,773.775024,784.400024,770.625000,782.049988,777.256775,4724774.0
23,2017-08-31,787.500000,798.724976,787.000000,797.250000,792.363647,11476990.0
24,2017-09-01,799.924988,808.299988,799.500000,805.049988,800.115845,7054954.0
25,2017-09-02,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
26,2017-09-03,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
27,2017-09-04,807.750000,818.075012,797.924988,806.674988,801.730835,9856750.0
28,2017-09-05,815.000000,817.424988,810.525024,816.299988,811.296875,11528262.0
29,2017-09-06,813.200012,826.250000,811.400024,822.700012,817.657654,22285024.0
...,...,...,...,...,...,...,...
336,2018-07-10,1002.750000,1028.500000,1000.000000,1025.699951,1025.699951,10444513.0
337,2018-07-11,1025.000000,1040.900024,1017.849976,1038.800049,1038.800049,8665072.0
338,2018-07-12,1044.349976,1099.000000,1042.599976,1082.349976,1082.349976,24109297.0
339,2018-07-13,1080.500000,1109.000000,1080.000000,1099.800049,1099.800049,17967282.0
340,2018-07-14,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
341,2018-07-15,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
342,2018-07-16,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
343,2018-07-17,1078.300049,1095.949951,1069.599976,1092.349976,1092.349976,6469256.0
344,2018-07-18,1098.400024,1104.599976,1077.300049,1092.550049,1092.550049,4682099.0
345,2018-07-19,1093.300049,1115.000000,1086.349976,1104.849976,1104.849976,5433617.0
346,2018-07-20,1113.400024,1138.500000,1111.900024,1128.650024,1128.650024,8018150.0
347,2018-07-21,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
348,2018-07-22,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
349,2018-07-23,1129.800049,1129.800049,1113.099976,1120.300049,1120.300049,5842496.0
350,2018-07-24,1122.000000,1126.750000,1107.400024,1110.949951,1110.949951,4469144.0
351,2018-07-25,1110.000000,1123.000000,1104.199951,1115.150024,1115.150024,5949680.0
352,2018-07-26,1110.099976,1121.500000,1107.800049,1110.650024,1110.650024,6424867.0
353,2018-07-27,1119.500000,1137.400024,1112.150024,1129.849976,1129.849976,6679468.0
354,2018-07-28,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
355,2018-07-29,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
356,2018-07-30,1130.000000,1157.300049,1128.000000,1151.400024,1151.400024,13872467.0
357,2018-07-31,1151.000000,1190.400024,1147.150024,1186.000000,1186.000000,13875377.0
358,2018-08-01,1190.400024,1202.900024,1185.400024,1192.349976,1192.349976,9704295.0
359,2018-08-02,1191.500000,1191.500000,1165.949951,1168.349976,1168.349976,6248975.0
360,2018-08-03,1175.000000,1183.500000,1169.550049,1176.949951,1176.949951,6645397.0
361,2018-08-04,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
362,2018-08-05,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
363,2018-08-06,1176.699951,1196.000000,1175.349976,1192.599976,1192.599976,4016418.0
364,2018-08-07,1194.900024,1201.400024,1177.000000,1184.199951,1184.199951,4059460.0
365,2018-08-08,1185.000000,1222.500000,1185.000000,1217.699951,1217.699951,7912416.0

# Dropping missing values based on condition

In [19]:
df = pd.read_csv("A:\Hari\houseprice.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df.shape

(1460, 81)

In [10]:
for column in df:
    print(column)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
Fence
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition
SalePrice

In [31]:
df[1:5][['Id','MSSubClass']]

   Id  MSSubClass
1   2          20
2   3          60
3   4          70
4   5          60

In [24]:
df[['Id','MSSubClass']].head()

   Id  MSSubClass
0   1          60
1   2          20
2   3          60
3   4          70
4   5          60

In [5]:
df.isnull().sum()/len(df)

Id               0.000000
MSSubClass       0.000000
MSZoning         0.000000
LotFrontage      0.177397
LotArea          0.000000
Street           0.000000
Alley            0.937671
LotShape         0.000000
LandContour      0.000000
Utilities        0.000000
LotConfig        0.000000
LandSlope        0.000000
Neighborhood     0.000000
Condition1       0.000000
Condition2       0.000000
BldgType         0.000000
HouseStyle       0.000000
OverallQual      0.000000
OverallCond      0.000000
YearBuilt        0.000000
YearRemodAdd     0.000000
RoofStyle        0.000000
RoofMatl         0.000000
Exterior1st      0.000000
Exterior2nd      0.000000
MasVnrType       0.005479
MasVnrArea       0.005479
ExterQual        0.000000
ExterCond        0.000000
Foundation       0.000000
                   ...
BedroomAbvGr     0.000000
KitchenAbvGr     0.000000
KitchenQual      0.000000
TotRmsAbvGrd     0.000000
Functional       0.000000
Fireplaces       0.000000
FireplaceQu      0.472603
GarageType       0.055479
GarageYrBlt      0.055479
GarageFinish     0.055479
GarageCars       0.000000
GarageArea       0.000000
GarageQual       0.055479
GarageCond       0.055479
PavedDrive       0.000000
WoodDeckSF       0.000000
OpenPorchSF      0.000000
EnclosedPorch    0.000000
3SsnPorch        0.000000
ScreenPorch      0.000000
PoolArea         0.000000
PoolQC           0.995205
Fence            0.807534
MiscFeature      0.963014
MiscVal          0.000000
MoSold           0.000000
YrSold           0.000000
SaleType         0.000000
SaleCondition    0.000000
SalePrice        0.000000
Length: 81, dtype: float64

In [18]:
# List Comprehension
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
[i for i in a if i%2 == 0]

[2, 4, 6, 8, 10, 12, 14]

In [8]:
df2 = df[[column for column in df if df[column].count() / len(df) >= 0.3]]
print([column for column in df if df[column].count() / len(df) >= 0.3])
print("List of dropped columns:", end=" ")
for c in df.columns:
    if c not in df2.columns:
        print(c, end=", ")
print('\n')
#df = df2

['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType', 'SaleCondition', 'SalePrice']
List of dropped columns: Alley, PoolQC, Fence, MiscFeature,

In [27]:
df[['Id', 'MSSubClass', 'MSZoning']]

        Id  MSSubClass MSZoning
0        1          60       RL
1        2          20       RL
2        3          60       RL
3        4          70       RL
4        5          60       RL
5        6          50       RL
6        7          20       RL
7        8          60       RL
8        9          50       RM
9       10         190       RL
10      11          20       RL
11      12          60       RL
12      13          20       RL
13      14          20       RL
14      15          20       RL
15      16          45       RM
16      17          20       RL
17      18          90       RL
18      19          20       RL
19      20          20       RL
20      21          60       RL
21      22          45       RM
22      23          20       RL
23      24         120       RM
24      25          20       RL
25      26          20       RL
26      27          20       RL
27      28          20       RL
28      29          20       RL
29      30          30       RM
...    ...         ...      ...
1430  1431          60       RL
1431  1432         120       RL
1432  1433          30       RL
1433  1434          60       RL
1434  1435          20       RL
1435  1436          20       RL
1436  1437          20       RL
1437  1438          20       RL
1438  1439          20       RM
1439  1440          60       RL
1440  1441          70       RL
1441  1442         120       RM
1442  1443          60       FV
1443  1444          30       RL
1444  1445          20       RL
1445  1446          85       RL
1446  1447          20       RL
1447  1448          60       RL
1448  1449          50       RL
1449  1450         180       RM
1450  1451          90       RL
1451  1452          20       RL
1452  1453         180       RM
1453  1454          20       RL
1454  1455          20       FV
1455  1456          60       RL
1456  1457          20       RL
1457  1458          70       RL
1458  1459          20       RL
1459  1460          20       RL

[1460 rows x 3 columns]

In [23]:
df['PoolQC'].count()

7

In [24]:
len(df)

1460

In [26]:
7/1460

0.004794520547945206

In [25]:
df.shape

(1460, 81)

In [7]:
df2.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating', 'HeatingQC',
       'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
       'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual', 'TotRmsAbvGrd',
       'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond',
       'PavedDrive', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

# Imputing Mean, Median, Mode

In [6]:
diabetes = pd.read_csv("A:\Hari\diabetes.csv")
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
20,3,126,88,41,235,39.3,0.704,27,0
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
23,9,119,80,35,0,29.0,0.263,29,1
24,11,143,94,33,146,36.6,0.254,51,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
27,1,97,66,15,140,23.2,0.487,22,0
28,13,145,82,19,110,22.2,0.245,57,0
29,5,117,92,0,0,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99,60,17,160,36.6,0.453,21,0
739,1,102,74,0,0,39.5,0.293,42,1
740,11,120,80,37,150,42.3,0.785,48,1
741,3,102,44,20,94,30.8,0.400,26,0
742,1,109,58,18,116,28.5,0.219,22,0
743,9,140,94,0,0,32.7,0.734,45,1
744,13,153,88,37,140,40.6,1.174,39,0
745,12,100,84,33,105,30.0,0.488,46,0
746,1,147,94,41,0,49.3,0.358,27,1
747,1,81,74,41,57,46.3,1.096,32,0
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [8]:
diabetes.isnull().sum()/len(df)

Pregnancies                 0.0
Glucose                     0.0
BloodPressure               0.0
SkinThickness               0.0
Insulin                     0.0
BMI                         0.0
DiabetesPedigreeFunction    0.0
Age                         0.0
Outcome                     0.0
dtype: float64

In [9]:
import numpy as np

In [15]:
diabetes[diabetes>150] = np.nan

In [16]:
diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35,0.0,33.6,0.627,50,1
1,1,85.0,66,29,0.0,26.6,0.351,31,0
2,8,NaN,64,0,0.0,23.3,0.672,32,1
3,1,89.0,66,23,94.0,28.1,0.167,21,0
4,0,137.0,40,35,NaN,43.1,2.288,33,1
5,5,116.0,74,0,0.0,25.6,0.201,30,0
6,3,78.0,50,32,88.0,31.0,0.248,26,1
7,10,115.0,0,0,0.0,35.3,0.134,29,0
8,2,NaN,70,45,NaN,30.5,0.158,53,1
9,8,125.0,96,0,0.0,0.0,0.232,54,1
10,4,110.0,92,0,0.0,37.6,0.191,30,0
11,10,NaN,74,0,0.0,38.0,0.537,34,1
12,10,139.0,80,0,0.0,27.1,1.441,57,0
13,1,NaN,60,23,NaN,30.1,0.398,59,1
14,5,NaN,72,19,NaN,25.8,0.587,51,1
15,7,100.0,0,0,0.0,30.0,0.484,32,1
16,0,118.0,84,47,NaN,45.8,0.551,31,1
17,7,107.0,74,0,0.0,29.6,0.254,31,1
18,1,103.0,30,38,83.0,43.3,0.183,33,0
19,1,115.0,70,30,96.0,34.6,0.529,32,1
20,3,126.0,88,41,NaN,39.3,0.704,27,0
21,8,99.0,84,0,0.0,35.4,0.388,50,0
22,7,NaN,90,0,0.0,39.8,0.451,41,1
23,9,119.0,80,35,0.0,29.0,0.263,29,1
24,11,143.0,94,33,146.0,36.6,0.254,51,1
25,10,125.0,70,26,115.0,31.1,0.205,41,1
26,7,147.0,76,0,0.0,39.4,0.257,43,1
27,1,97.0,66,15,140.0,23.2,0.487,22,0
28,13,145.0,82,19,110.0,22.2,0.245,57,0
29,5,117.0,92,0,0.0,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99.0,60,17,NaN,36.6,0.453,21,0
739,1,102.0,74,0,0.0,39.5,0.293,42,1
740,11,120.0,80,37,150.0,42.3,0.785,48,1
741,3,102.0,44,20,94.0,30.8,0.400,26,0
742,1,109.0,58,18,116.0,28.5,0.219,22,0
743,9,140.0,94,0,0.0,32.7,0.734,45,1
744,13,NaN,88,37,140.0,40.6,1.174,39,0
745,12,100.0,84,33,105.0,30.0,0.488,46,0
746,1,147.0,94,41,0.0,49.3,0.358,27,1
747,1,81.0,74,41,57.0,46.3,1.096,32,0
748,3,NaN,70,22,NaN,36.4,0.408,36,1
749,6,NaN,62,0,0.0,24.3,0.178,50,1
750,4,136.0,70,0,0.0,31.2,1.182,22,1
751,1,121.0,78,39,74.0,39.0,0.261,28,0
752,3,108.0,62,24,0.0,26.0,0.223,25,0
753,0,NaN,88,44,NaN,43.3,0.222,26,1
754,8,NaN,78,32,0.0,32.4,0.443,45,1
755,1,128.0,88,39,110.0,36.5,1.057,37,1
756,7,137.0,90,41,0.0,32.0,0.391,39,0
757,0,123.0,72,0,0.0,36.3,0.258,52,1
758,1,106.0,76,0,0.0,37.5,0.197,26,0
759,6,NaN,92,0,0.0,35.5,0.278,66,1
760,2,88.0,58,26,16.0,28.4,0.766,22,0
761,9,NaN,74,31,0.0,44.0,0.403,43,1
762,9,89.0,62,0,0.0,22.5,0.142,33,0
763,10,101.0,76,48,NaN,32.9,0.171,63,0
764,2,122.0,70,27,0.0,36.8,0.340,27,0
765,5,121.0,72,23,112.0,26.2,0.245,30,0
766,1,126.0,60,0,0.0,30.1,0.349,47,1
767,1,93.0,70,31,0.0,30.4,0.315,23,0

In [19]:
diabetes.isnull().sum()

Pregnancies                   0
Glucose                     140
BloodPressure                 0
SkinThickness                 0
Insulin                     153
BMI                           0
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [18]:
diabetes.isnull().sum()/len(df)

Pregnancies                 0.000000
Glucose                     0.095890
BloodPressure               0.000000
SkinThickness               0.000000
Insulin                     0.104795
BMI                         0.000000
DiabetesPedigreeFunction    0.000000
Age                         0.000000
Outcome                     0.000000
dtype: float64

In [21]:
# imputing with mean
diabetes.fillna(diabetes.mean())
######## Alternate
#diabetes.Glucose.fillna(diabetes.Glucose.mean(),inplace=True)
#diabetes.Insulin.fillna(diabetes.Insulin.mean(),inplace=True)
######## Alternate
#diabetes.Glucose = diabetes.Glucose.fillna(diabetes.Glucose.mean())
#diabetes.Insulin = diabetes.Insulin.fillna(diabetes.Insulin.mean())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.000000,72,35,0.000000,33.6,0.627,50,1
1,1,85.000000,66,29,0.000000,26.6,0.351,31,0
2,8,109.616242,64,0,0.000000,23.3,0.672,32,1
3,1,89.000000,66,23,94.000000,28.1,0.167,21,0
4,0,137.000000,40,35,34.421138,43.1,2.288,33,1
5,5,116.000000,74,0,0.000000,25.6,0.201,30,0
6,3,78.000000,50,32,88.000000,31.0,0.248,26,1
7,10,115.000000,0,0,0.000000,35.3,0.134,29,0
8,2,109.616242,70,45,34.421138,30.5,0.158,53,1
9,8,125.000000,96,0,0.000000,0.0,0.232,54,1
10,4,110.000000,92,0,0.000000,37.6,0.191,30,0
11,10,109.616242,74,0,0.000000,38.0,0.537,34,1
12,10,139.000000,80,0,0.000000,27.1,1.441,57,0
13,1,109.616242,60,23,34.421138,30.1,0.398,59,1
14,5,109.616242,72,19,34.421138,25.8,0.587,51,1
15,7,100.000000,0,0,0.000000,30.0,0.484,32,1
16,0,118.000000,84,47,34.421138,45.8,0.551,31,1
17,7,107.000000,74,0,0.000000,29.6,0.254,31,1
18,1,103.000000,30,38,83.000000,43.3,0.183,33,0
19,1,115.000000,70,30,96.000000,34.6,0.529,32,1
20,3,126.000000,88,41,34.421138,39.3,0.704,27,0
21,8,99.000000,84,0,0.000000,35.4,0.388,50,0
22,7,109.616242,90,0,0.000000,39.8,0.451,41,1
23,9,119.000000,80,35,0.000000,29.0,0.263,29,1
24,11,143.000000,94,33,146.000000,36.6,0.254,51,1
25,10,125.000000,70,26,115.000000,31.1,0.205,41,1
26,7,147.000000,76,0,0.000000,39.4,0.257,43,1
27,1,97.000000,66,15,140.000000,23.2,0.487,22,0
28,13,145.000000,82,19,110.000000,22.2,0.245,57,0
29,5,117.000000,92,0,0.000000,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99.000000,60,17,34.421138,36.6,0.453,21,0
739,1,102.000000,74,0,0.000000,39.5,0.293,42,1
740,11,120.000000,80,37,150.000000,42.3,0.785,48,1
741,3,102.000000,44,20,94.000000,30.8,0.400,26,0
742,1,109.000000,58,18,116.000000,28.5,0.219,22,0
743,9,140.000000,94,0,0.000000,32.7,0.734,45,1
744,13,109.616242,88,37,140.000000,40.6,1.174,39,0
745,12,100.000000,84,33,105.000000,30.0,0.488,46,0
746,1,147.000000,94,41,0.000000,49.3,0.358,27,1
747,1,81.000000,74,41,57.000000,46.3,1.096,32,0
748,3,109.616242,70,22,34.421138,36.4,0.408,36,1
749,6,109.616242,62,0,0.000000,24.3,0.178,50,1
750,4,136.000000,70,0,0.000000,31.2,1.182,22,1
751,1,121.000000,78,39,74.000000,39.0,0.261,28,0
752,3,108.000000,62,24,0.000000,26.0,0.223,25,0
753,0,109.616242,88,44,34.421138,43.3,0.222,26,1
754,8,109.616242,78,32,0.000000,32.4,0.443,45,1
755,1,128.000000,88,39,110.000000,36.5,1.057,37,1
756,7,137.000000,90,41,0.000000,32.0,0.391,39,0
757,0,123.000000,72,0,0.000000,36.3,0.258,52,1
758,1,106.000000,76,0,0.000000,37.5,0.197,26,0
759,6,109.616242,92,0,0.000000,35.5,0.278,66,1
760,2,88.000000,58,26,16.000000,28.4,0.766,22,0
761,9,109.616242,74,31,0.000000,44.0,0.403,43,1
762,9,89.000000,62,0,0.000000,22.5,0.142,33,0
763,10,101.000000,76,48,34.421138,32.9,0.171,63,0
764,2,122.000000,70,27,0.000000,36.8,0.340,27,0
765,5,121.000000,72,23,112.000000,26.2,0.245,30,0
766,1,126.000000,60,0,0.000000,30.1,0.349,47,1
767,1,93.000000,70,31,0.000000,30.4,0.315,23,0

In [22]:
# imputing with mean
diabetes.fillna(diabetes.median())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35,0.0,33.6,0.627,50,1
1,1,85.0,66,29,0.0,26.6,0.351,31,0
2,8,109.5,64,0,0.0,23.3,0.672,32,1
3,1,89.0,66,23,94.0,28.1,0.167,21,0
4,0,137.0,40,35,0.0,43.1,2.288,33,1
5,5,116.0,74,0,0.0,25.6,0.201,30,0
6,3,78.0,50,32,88.0,31.0,0.248,26,1
7,10,115.0,0,0,0.0,35.3,0.134,29,0
8,2,109.5,70,45,0.0,30.5,0.158,53,1
9,8,125.0,96,0,0.0,0.0,0.232,54,1
10,4,110.0,92,0,0.0,37.6,0.191,30,0
11,10,109.5,74,0,0.0,38.0,0.537,34,1
12,10,139.0,80,0,0.0,27.1,1.441,57,0
13,1,109.5,60,23,0.0,30.1,0.398,59,1
14,5,109.5,72,19,0.0,25.8,0.587,51,1
15,7,100.0,0,0,0.0,30.0,0.484,32,1
16,0,118.0,84,47,0.0,45.8,0.551,31,1
17,7,107.0,74,0,0.0,29.6,0.254,31,1
18,1,103.0,30,38,83.0,43.3,0.183,33,0
19,1,115.0,70,30,96.0,34.6,0.529,32,1
20,3,126.0,88,41,0.0,39.3,0.704,27,0
21,8,99.0,84,0,0.0,35.4,0.388,50,0
22,7,109.5,90,0,0.0,39.8,0.451,41,1
23,9,119.0,80,35,0.0,29.0,0.263,29,1
24,11,143.0,94,33,146.0,36.6,0.254,51,1
25,10,125.0,70,26,115.0,31.1,0.205,41,1
26,7,147.0,76,0,0.0,39.4,0.257,43,1
27,1,97.0,66,15,140.0,23.2,0.487,22,0
28,13,145.0,82,19,110.0,22.2,0.245,57,0
29,5,117.0,92,0,0.0,34.1,0.337,38,0
...,...,...,...,...,...,...,...,...,...
738,2,99.0,60,17,0.0,36.6,0.453,21,0
739,1,102.0,74,0,0.0,39.5,0.293,42,1
740,11,120.0,80,37,150.0,42.3,0.785,48,1
741,3,102.0,44,20,94.0,30.8,0.400,26,0
742,1,109.0,58,18,116.0,28.5,0.219,22,0
743,9,140.0,94,0,0.0,32.7,0.734,45,1
744,13,109.5,88,37,140.0,40.6,1.174,39,0
745,12,100.0,84,33,105.0,30.0,0.488,46,0
746,1,147.0,94,41,0.0,49.3,0.358,27,1
747,1,81.0,74,41,57.0,46.3,1.096,32,0
748,3,109.5,70,22,0.0,36.4,0.408,36,1
749,6,109.5,62,0,0.0,24.3,0.178,50,1
750,4,136.0,70,0,0.0,31.2,1.182,22,1
751,1,121.0,78,39,74.0,39.0,0.261,28,0
752,3,108.0,62,24,0.0,26.0,0.223,25,0
753,0,109.5,88,44,0.0,43.3,0.222,26,1
754,8,109.5,78,32,0.0,32.4,0.443,45,1
755,1,128.0,88,39,110.0,36.5,1.057,37,1
756,7,137.0,90,41,0.0,32.0,0.391,39,0
757,0,123.0,72,0,0.0,36.3,0.258,52,1
758,1,106.0,76,0,0.0,37.5,0.197,26,0
759,6,109.5,92,0,0.0,35.5,0.278,66,1
760,2,88.0,58,26,16.0,28.4,0.766,22,0
761,9,109.5,74,31,0.0,44.0,0.403,43,1
762,9,89.0,62,0,0.0,22.5,0.142,33,0
763,10,101.0,76,48,0.0,32.9,0.171,63,0
764,2,122.0,70,27,0.0,36.8,0.340,27,0
765,5,121.0,72,23,112.0,26.2,0.245,30,0
766,1,126.0,60,0,0.0,30.1,0.349,47,1
767,1,93.0,70,31,0.0,30.4,0.315,23,0