In [1]:
import pandas as pd

In [3]:
import sqlite3
import pandas as pd
# Create your connection.
cnx = sqlite3.connect(r'C:\Users\clustrex-1\Desktop\database.sqlite\database.sqlite')

#df = pd.read_sql_query("SELECT * FROM table_name", cnx)

In [5]:
df = pd.read_sql_query("SELECT * FROM Indicators", cnx)

In [6]:
df.head(10)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06
5,Arab World,ARB,Arms imports (SIPRI trend indicator values),MS.MIL.MPRT.KD,1960,5.380000e+08
6,Arab World,ARB,"Birth rate, crude (per 1,000 people)",SP.DYN.CBRT.IN,1960,4.769789e+01
7,Arab World,ARB,CO2 emissions (kt),EN.ATM.CO2E.KT,1960,5.956399e+04
8,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1960,6.439635e-01
9,Arab World,ARB,CO2 emissions from gaseous fuel consumption (%...,EN.ATM.CO2E.GF.ZS,1960,5.041292e+00

In [7]:
df.CountryCode.nunique()

247

In [10]:
df.shape

(5656458, 6)

In [13]:
df.IndicatorName.value_counts(ascending =False)[40:60]

Permanent cropland (% of land area)                                                        10909
CO2 emissions from solid fuel consumption (% of total)                                     10747
CO2 emissions from gaseous fuel consumption (% of total)                                   10741
CO2 emissions from liquid fuel consumption (% of total)                                    10740
CO2 emissions (kt)                                                                         10602
CO2 emissions (metric tons per capita)                                                     10599
CO2 emissions from liquid fuel consumption (kt)                                            10583
Merchandise exports by the reporting economy, residual (% of total merchandise exports)    10384
Merchandise exports by the reporting economy (current US$)                                 10384
Land under cereal production (hectares)                                                    10382
Cereal production (metric tons)                                                            10382
Merchandise imports by the reporting economy, residual (% of total merchandise imports)    10373
Merchandise imports by the reporting economy (current US$)                                 10373
GDP at market prices (current US$)                                                         10346
GDP per capita (current US$)                                                               10343
Cereal yield (kg per hectare)                                                              10265
Number of under-five deaths                                                                10170
Number of infant deaths                                                                    10170
Merchandise imports from high-income economies (% of total merchandise imports)            10087
CO2 emissions from solid fuel consumption (kt)                                             10070
Name: IndicatorName, dtype: int64

In [ ]:
pd.read_sql()