In [1]:
spark

In [17]:
from pyspark.sql.functions import *

In [32]:
movies = spark.read.format('com.databricks.spark.csv').options(header='false', inferschema='true',delimiter = "$").load('movies')
movies.show()

+---+--------------------+--------------------+
|_c0|                 _c1|                 _c2|
+---+--------------------+--------------------+
|  1|    Toy Story (1995)|Adventure|Animati...|
|  2|      Jumanji (1995)|Adventure|Childre...|
|  3|Grumpier Old Men ...|      Comedy|Romance|
|  4|Waiting to Exhale...|Comedy|Drama|Romance|
|  5|Father of the Bri...|              Comedy|
|  6|         Heat (1995)|Action|Crime|Thri...|
|  7|      Sabrina (1995)|      Comedy|Romance|
|  8| Tom and Huck (1995)|  Adventure|Children|
|  9| Sudden Death (1995)|              Action|
| 10|    GoldenEye (1995)|Action|Adventure|...|
| 11|American Presiden...|Comedy|Drama|Romance|
| 12|Dracula: Dead and...|       Comedy|Horror|
| 13|        Balto (1995)|Adventure|Animati...|
| 14|        Nixon (1995)|               Drama|
| 15|Cutthroat Island ...|Action|Adventure|...|
| 16|       Casino (1995)|         Crime|Drama|
| 17|Sense and Sensibi...|       Drama|Romance|
| 18|   Four Rooms (1995)|              Comedy|
| 19|Ace Ventura: When...|              Comedy|
| 20|  Money Train (1995)|Action|Comedy|Cri...|
+---+--------------------+--------------------+
only showing top 20 rows

In [33]:
col1 = ["movieid","title","genre"]

In [34]:
movies1= movies.toDF(*col1)
movies1.show()

+-------+--------------------+--------------------+
|movieid|               title|               genre|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [36]:
ratings = spark.read.format('com.databricks.spark.csv').options(header='false', inferschema='true',delimiter = "$").load('ratings')
ratings.show()

+-----+---+---+----------+
|  _c0|_c1|_c2|       _c3|
+-----+---+---+----------+
|62762|383|4.0|1351934307|
|62762|393|2.0|1352016085|
|62762|405|2.0|1351934948|
|62762|410|1.5|1364629157|
|62762|420|3.0|1351841395|
|62762|421|2.5|1352016082|
|62762|426|2.0|1351956544|
|62762|428|1.5|1351934945|
|62762|432|1.5|1351840841|
|62762|434|4.0|1351840020|
|62762|435|0.5|1351929703|
|62762|440|1.5|1351931058|
|62762|442|4.5|1351840845|
|62762|454|4.5|1351840708|
|62762|455|3.5|1351841397|
|62762|457|3.5|1351837525|
|62762|466|3.0|1351848642|
|62762|474|3.0|1351841401|
|62762|480|2.0|1351837468|
|62762|485|3.5|1351929750|
+-----+---+---+----------+
only showing top 20 rows

In [37]:
ratings.columns

['_c0', '_c1', '_c2', '_c3']

In [38]:
ratings.select("_c0").distinct().count()

138493

In [39]:
ratings.select("_c1").distinct().count()

26744

In [40]:
col2 = ["userid","movieid","rating","timestamp"]

In [41]:
ratings1 = ratings.toDF(*col2)
ratings1.show()

+------+-------+------+----------+
|userid|movieid|rating| timestamp|
+------+-------+------+----------+
| 62762|    383|   4.0|1351934307|
| 62762|    393|   2.0|1352016085|
| 62762|    405|   2.0|1351934948|
| 62762|    410|   1.5|1364629157|
| 62762|    420|   3.0|1351841395|
| 62762|    421|   2.5|1352016082|
| 62762|    426|   2.0|1351956544|
| 62762|    428|   1.5|1351934945|
| 62762|    432|   1.5|1351840841|
| 62762|    434|   4.0|1351840020|
| 62762|    435|   0.5|1351929703|
| 62762|    440|   1.5|1351931058|
| 62762|    442|   4.5|1351840845|
| 62762|    454|   4.5|1351840708|
| 62762|    455|   3.5|1351841397|
| 62762|    457|   3.5|1351837525|
| 62762|    466|   3.0|1351848642|
| 62762|    474|   3.0|1351841401|
| 62762|    480|   2.0|1351837468|
| 62762|    485|   3.5|1351929750|
+------+-------+------+----------+
only showing top 20 rows

In [42]:
movies2 = movies1.withColumn('year', regexp_extract(col('title'),"\d{4}",0))
movies2.show()

+-------+--------------------+--------------------+----+
|movieid|               title|               genre|year|
+-------+--------------------+--------------------+----+
|      1|    Toy Story (1995)|Adventure|Animati...|1995|
|      2|      Jumanji (1995)|Adventure|Childre...|1995|
|      3|Grumpier Old Men ...|      Comedy|Romance|1995|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|1995|
|      5|Father of the Bri...|              Comedy|1995|
|      6|         Heat (1995)|Action|Crime|Thri...|1995|
|      7|      Sabrina (1995)|      Comedy|Romance|1995|
|      8| Tom and Huck (1995)|  Adventure|Children|1995|
|      9| Sudden Death (1995)|              Action|1995|
|     10|    GoldenEye (1995)|Action|Adventure|...|1995|
|     11|American Presiden...|Comedy|Drama|Romance|1995|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|
|     13|        Balto (1995)|Adventure|Animati...|1995|
|     14|        Nixon (1995)|               Drama|1995|
|     15|Cutthroat Island ...|Action|Adventure|...|1995|
|     16|       Casino (1995)|         Crime|Drama|1995|
|     17|Sense and Sensibi...|       Drama|Romance|1995|
|     18|   Four Rooms (1995)|              Comedy|1995|
|     19|Ace Ventura: When...|              Comedy|1995|
|     20|  Money Train (1995)|Action|Comedy|Cri...|1995|
+-------+--------------------+--------------------+----+
only showing top 20 rows

In [43]:
ratingcount = ratings1.groupby("movieid").count()
ratingcount.show()

+-------+-----+
|movieid|count|
+-------+-----+
|   1580|35580|
|   3175|13945|
|   1088|11013|
|    471|11268|
|   1645|11458|
|   2366| 6627|
|   3997| 2047|
|   6620| 3678|
|   8638| 3449|
|   1238| 3194|
|   1959| 5016|
|   2142| 2154|
|   1591| 5255|
|  32460|  291|
|   1342| 3289|
|   2122| 2398|
|   3918| 1246|
|   4519| 1936|
|    148|  357|
|    833| 1427|
+-------+-----+
only showing top 20 rows

In [44]:
avgrating = ratings1.groupby("movieid").agg(avg("rating")).withColumnRenamed("avg(rating)","rating").withColumn("avg_rating",round(col('rating'), 2)).drop("rating")
avgrating.show()

+-------+----------+
|movieid|avg_rating|
+-------+----------+
|  44022|      3.33|
|  54190|      3.67|
|  33722|      3.53|
|  36525|      3.48|
|  57370|       2.8|
|  40574|      2.89|
|  47084|      3.75|
|  34234|       2.0|
|  41575|      2.88|
|  63645|      3.68|
|  64519|       3.5|
|  46952|      3.33|
|  58061|       4.0|
|  53963|       2.7|
|  47501|      3.13|
|  63271|       2.0|
|   1088|      3.21|
|   1580|      3.56|
|   1645|      3.48|
|   3175|       3.6|
+-------+----------+
only showing top 20 rows

In [45]:
movies3 = movies2.join(avgrating,how = "inner",on="movieid")
movies3.show()

+-------+--------------------+--------------------+----+----------+
|movieid|               title|               genre|year|avg_rating|
+-------+--------------------+--------------------+----+----------+
|  44022|Ice Age 2: The Me...|Adventure|Animati...|2006|      3.33|
|  54190|Across the Univer...|Drama|Fantasy|Mus...|2007|      3.67|
|  33722|Ladies in Lavende...|Comedy|Drama|Romance|2004|      3.53|
|  36525|Just Like Heaven ...|Comedy|Fantasy|Ro...|2005|      3.48|
|  57370|    Mad Money (2008)|Comedy|Crime|Thri...|2008|       2.8|
|  40574|Get Rich or Die T...|  Action|Crime|Drama|2005|      2.89|
|  47084|Live and Become (...|               Drama|2005|      3.75|
|  34234|Pornography (Porn...|   Drama|Romance|War|2003|       2.0|
|  41575|Promise, The (Wu ...|Action|Drama|Fantasy|2005|      2.88|
|  63645|Free Will, The (F...|         Crime|Drama|2006|      3.68|
|  64519|    Boomerang (1947)|Crime|Drama|Film-...|1947|       3.5|
|  46952|Wrong Side Up (Pr...|        Comedy|Drama|2005|      3.33|
|  58061|    Four Sons (1928)|               Drama|1928|       4.0|
|  53963|Clubland (a.k.a. ...|        Comedy|Drama|2007|       2.7|
|  47501|Tol'able David (1...|               Drama|1921|      3.13|
|  63271| Gold Raiders (1951)|      Comedy|Western|1951|       2.0|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|      3.21|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|      3.56|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|1997|      3.48|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|1999|       3.6|
+-------+--------------------+--------------------+----+----------+
only showing top 20 rows

In [46]:
movies4 = movies3.join(ratingcount,how = "inner",on="movieid")
movies4.show()

+-------+--------------------+--------------------+----+----------+-----+
|movieid|               title|               genre|year|avg_rating|count|
+-------+--------------------+--------------------+----+----------+-----+
|    148|Awfully Big Adven...|               Drama|1995|      2.89|  357|
|    463|Guilty as Sin (1993)|Crime|Drama|Thriller|1993|       2.8|  410|
|    471|Hudsucker Proxy, ...|              Comedy|1994|      3.66|11268|
|    496|What Happened Was...|Comedy|Drama|Roma...|1994|      3.29|  413|
|    833|High School High ...|              Comedy|1996|      2.73| 1427|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|      3.21|11013|
|   1238|   Local Hero (1983)|              Comedy|1983|      3.97| 3194|
|   1342|     Candyman (1992)|     Horror|Thriller|1992|      2.95| 3289|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|      3.56|35580|
|   1591|        Spawn (1997)|Action|Adventure|...|1997|      2.62| 5255|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|1997|      3.48|11458|
|   1829|  Chinese Box (1997)|       Drama|Romance|1997|      3.09|  278|
|   1959|Out of Africa (1985)|       Drama|Romance|1985|      3.63| 5016|
|   2122|Children of the C...|     Horror|Thriller|1984|       2.6| 2398|
|   2142|American Tail: Fi...|Adventure|Animati...|1991|      2.99| 2154|
|   2366|    King Kong (1933)|Action|Adventure|...|1933|      3.55| 6627|
|   2659|It Came from Holl...|  Comedy|Documentary|1982|      3.23|  260|
|   2866|Buddy Holly Story...|               Drama|1978|      3.61| 1407|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|1999|       3.6|13945|
|   3749|Time Regained (Te...|               Drama|1999|      3.26|  130|
+-------+--------------------+--------------------+----+----------+-----+
only showing top 20 rows