In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
import pandas as pd

In [3]:
orders = pd.read_csv("A:\Frequently bought togher\instacart_2017_05_01\orders.csv")
orders

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0
5,3367565,1,prior,6,2,7,19.0
6,550135,1,prior,7,1,9,20.0
7,3108588,1,prior,8,1,14,14.0
8,2295261,1,prior,9,1,16,0.0
9,2550362,1,prior,10,4,8,30.0
10,1187899,1,train,11,4,8,14.0
11,2168274,2,prior,1,2,11,NaN
12,1501582,2,prior,2,5,10,10.0
13,1901567,2,prior,3,1,10,3.0
14,738281,2,prior,4,2,10,8.0
15,1673511,2,prior,5,3,11,8.0
16,1199898,2,prior,6,2,9,13.0
17,3194192,2,prior,7,2,12,14.0
18,788338,2,prior,8,1,15,27.0
19,1718559,2,prior,9,2,9,8.0
20,1447487,2,prior,10,1,11,6.0
21,1402090,2,prior,11,1,10,30.0
22,3186735,2,prior,12,1,9,28.0
23,3268552,2,prior,13,4,11,30.0
24,839880,2,prior,14,3,10,13.0
25,1492625,2,train,15,1,11,30.0
26,1374495,3,prior,1,1,14,NaN
27,444309,3,prior,2,3,19,9.0
28,3002854,3,prior,3,3,16,21.0
29,2037211,3,prior,4,2,18,20.0
...,...,...,...,...,...,...,...
3421053,2789700,206208,prior,35,3,22,4.0
3421054,844592,206208,prior,36,6,15,10.0
3421055,1541132,206208,prior,37,2,12,3.0
3421056,2808240,206208,prior,38,0,15,19.0
3421057,3027766,206208,prior,39,2,14,9.0
3421058,3356245,206208,prior,40,5,9,10.0
3421059,442304,206208,prior,41,2,14,11.0
3421060,2675140,206208,prior,42,1,19,6.0
3421061,167903,206208,prior,43,4,14,3.0
3421062,2393201,206208,prior,44,6,16,2.0
3421063,3292671,206208,prior,45,2,11,3.0
3421064,3059777,206208,prior,46,1,10,13.0
3421065,2239861,206208,prior,47,3,4,9.0
3421066,1285346,206208,prior,48,1,11,5.0
3421067,1882108,206208,prior,49,1,22,7.0
3421068,803273,206208,test,50,5,11,4.0
3421069,3154581,206209,prior,1,3,11,NaN
3421070,1889163,206209,prior,2,3,17,7.0
3421071,1542354,206209,prior,3,5,11,30.0
3421072,688306,206209,prior,4,1,10,30.0
3421073,2307371,206209,prior,5,4,15,3.0
3421074,3186442,206209,prior,6,0,16,3.0
3421075,550836,206209,prior,7,2,13,9.0
3421076,2129269,206209,prior,8,3,17,22.0
3421077,2558525,206209,prior,9,4,15,22.0
3421078,2266710,206209,prior,10,5,18,29.0
3421079,1854736,206209,prior,11,4,10,30.0
3421080,626363,206209,prior,12,1,12,18.0
3421081,2977660,206209,prior,13,1,12,7.0
3421082,272231,206209,train,14,6,14,30.0

In [4]:
orders.dtypes

order_id                    int64
user_id                     int64
eval_set                   object
order_number                int64
order_dow                   int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [5]:
products = pd.read_csv("A:\Frequently bought togher\instacart_2017_05_01\products.csv")
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13
5,6,Dry Nose Oil,11,11
6,7,Pure Coconut Water With Orange,98,7
7,8,Cut Russet Potatoes Steam N' Mash,116,1
8,9,Light Strawberry Blueberry Yogurt,120,16
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7
10,11,Peach Mango Juice,31,7
11,12,Chocolate Fudge Layer Cake,119,1
12,13,Saline Nasal Mist,11,11
13,14,Fresh Scent Dishwasher Cleaner,74,17
14,15,Overnight Diapers Size 6,56,18
15,16,Mint Chocolate Flavored Syrup,103,19
16,17,Rendered Duck Fat,35,12
17,18,Pizza for One Suprema Frozen Pizza,79,1
18,19,Gluten Free Quinoa Three Cheese & Mushroom Blend,63,9
19,20,Pomegranate Cranberry & Aloe Vera Enrich Drink,98,7
20,21,Small & Medium Dental Dog Treats,40,8
21,22,Fresh Breath Oral Rinse Mild Mint,20,11
22,23,Organic Turkey Burgers,49,12
23,24,Tri-Vi-Sol® Vitamins A-C-and D Supplement Drop...,47,11
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19
25,26,Fancy Feast Trout Feast Flaked Wet Cat Food,41,8
26,27,Complete Spring Water Foaming Antibacterial Ha...,127,11
27,28,Wheat Chex Cereal,121,14
28,29,Fresh Cut Golden Sweet No Salt Added Whole Ker...,81,15
29,30,"Three Cheese Ziti, Marinara with Meatballs",38,1
...,...,...,...,...
49658,49659,Organic Creamed Coconut,17,13
49659,49660,Professionals Sleek Shampoo,22,11
49660,49661,Porto,134,5
49661,49662,Bacon Cheddar Pretzel Pieces,107,19
49662,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14
49663,49664,Lemon Cayenne Drinking Vinegar,100,21
49664,49665,Super Dark Coconut Ash & Banana Chocolate Bar,45,19
49665,49666,Ginger Snaps Snacking Cookies,61,19
49666,49667,Enchilada with Spanish Rice & Beans Meal,38,1
49667,49668,Apple Cinnamon Scented Candles,101,17
49668,49669,K Cup Dark Blend,100,21
49669,49670,Beef Summer Sausage,106,12
49670,49671,Milk Chocolate Drops,45,19
49671,49672,Cafe Mocha K-Cup Packs,26,7
49672,49673,Stone Baked Multi Grain Artisan Rolls,129,1
49673,49674,Frozen Greek Yogurt Bars Chocolate Chip,37,1
49674,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7
49675,49676,Ultra Red Energy Drink,64,7
49676,49677,Thick & Chunky Sloppy Joe Sauce,59,15
49677,49678,Large Chicken & Cheese Taquitos,129,1
49678,49679,Famous Chocolate Wafers,61,19
49679,49680,All Natural Creamy Caesar Dressing,89,13
49680,49681,Spaghetti with Meatballs and Sauce Meal,38,1
49681,49682,California Limeade,98,7
49682,49683,Cucumber Kirby,83,4
49683,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5
49684,49685,En Croute Roast Hazelnut Cranberry,42,1
49685,49686,Artisan Baguette,112,3
49686,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8
49687,49688,Fresh Foaming Cleanser,73,11

In [6]:
products.product_id.nunique()

49688

In [7]:
products.product_name.nunique()

49688

In [8]:
orders_products_prior = pd.read_csv("A:\Frequently bought togher\instacart_2017_05_01\order_products__prior.csv")
orders_products_prior

          order_id  product_id  add_to_cart_order  reordered
0                2       33120                  1          1
1                2       28985                  2          1
2                2        9327                  3          0
3                2       45918                  4          1
4                2       30035                  5          0
5                2       17794                  6          1
6                2       40141                  7          1
7                2        1819                  8          1
8                2       43668                  9          0
9                3       33754                  1          1
10               3       24838                  2          1
11               3       17704                  3          1
12               3       21903                  4          1
13               3       17668                  5          1
14               3       46667                  6          1
15               3       17461                  7          1
16               3       32665                  8          1
17               4       46842                  1          0
18               4       26434                  2          1
19               4       39758                  3          1
20               4       27761                  4          1
21               4       10054                  5          1
22               4       21351                  6          1
23               4       22598                  7          1
24               4       34862                  8          1
25               4       40285                  9          1
26               4       17616                 10          1
27               4       25146                 11          1
28               4       32645                 12          1
29               4       41276                 13          1
...            ...         ...                ...        ...
32434459   3421080       41950                  4          0
32434460   3421080       31717                  5          0
32434461   3421080       12935                  6          1
32434462   3421080       25122                  7          0
32434463   3421080       10667                  8          0
32434464   3421080       38061                  9          0
32434465   3421081       38185                  1          0
32434466   3421081       12218                  2          0
32434467   3421081       32299                  3          0
32434468   3421081        3060                  4          0
32434469   3421081       20539                  5          0
32434470   3421081       35221                  6          0
32434471   3421081       12861                  7          0
32434472   3421082       17279                  1          1
32434473   3421082       12738                  2          1
32434474   3421082       16797                  3          0
32434475   3421082       43352                  4          1
32434476   3421082       32700                  5          1
32434477   3421082       12023                  6          0
32434478   3421082       47941                  7          0
32434479   3421083        7854                  1          0
32434480   3421083       45309                  2          0
32434481   3421083       21162                  3          0
32434482   3421083       18176                  4          1
32434483   3421083       35211                  5          0
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

[32434489 rows x 4 columns]

In [9]:
orders_products_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [10]:
orders_products_train = pd.read_csv("A:\Frequently bought togher\instacart_2017_05_01\order_products__train.csv")
orders_products_train

         order_id  product_id  add_to_cart_order  reordered
0               1       49302                  1          1
1               1       11109                  2          1
2               1       10246                  3          0
3               1       49683                  4          0
4               1       43633                  5          1
5               1       13176                  6          0
6               1       47209                  7          0
7               1       22035                  8          1
8              36       39612                  1          0
9              36       19660                  2          1
10             36       49235                  3          0
11             36       43086                  4          1
12             36       46620                  5          1
13             36       34497                  6          1
14             36       48679                  7          1
15             36       46979                  8          1
16             38       11913                  1          0
17             38       18159                  2          0
18             38        4461                  3          0
19             38       21616                  4          1
20             38       23622                  5          0
21             38       32433                  6          0
22             38       28842                  7          0
23             38       42625                  8          0
24             38       39693                  9          0
25             96       20574                  1          1
26             96       30391                  2          0
27             96       40706                  3          1
28             96       25610                  4          0
29             96       27966                  5          1
...           ...         ...                ...        ...
1384587   3421026       32237                  3          0
1384588   3421026          10                  4          0
1384589   3421026        4493                  5          0
1384590   3421026        7781                  6          0
1384591   3421049       40800                  1          0
1384592   3421049       17706                  2          0
1384593   3421049       33424                  3          1
1384594   3421049       17299                  4          0
1384595   3421049       26800                  5          0
1384596   3421049       34243                  6          0
1384597   3421056        5750                  1          1
1384598   3421056        9340                  2          1
1384599   3421056       21709                  3          1
1384600   3421056       16475                  4          0
1384601   3421056       12432                  5          0
1384602   3421058       15629                  1          1
1384603   3421058        4347                  2          1
1384604   3421058       34466                  3          1
1384605   3421058        6244                  4          1
1384606   3421058        6858                  5          1
1384607   3421058       30316                  6          1
1384608   3421058       35578                  7          0
1384609   3421058       32650                  8          1
1384610   3421063       49235                  1          1
1384611   3421063       13565                  2          1
1384612   3421063       14233                  3          1
1384613   3421063       35548                  4          1
1384614   3421070       35951                  1          1
1384615   3421070       16953                  2          1
1384616   3421070        4724                  3          1

[1384617 rows x 4 columns]

In [11]:
orders_products_train.shape

(1384617, 4)

In [13]:
orders_products_prior.shape

(32434489, 4)

In [11]:
#sample_orders = orders_products_prior.head(100000)
sample_orders = orders_products_prior.copy()
sample_orders =  sample_orders.merge(orders,on='order_id')
sample_orders.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2,33120,1,1,202279,prior,3,5,9,8.0
1,2,28985,2,1,202279,prior,3,5,9,8.0
2,2,9327,3,0,202279,prior,3,5,9,8.0
3,2,45918,4,1,202279,prior,3,5,9,8.0
4,2,30035,5,0,202279,prior,3,5,9,8.0

In [ ]:
sample_orders = sample_orders.merge(products,on='product_id')
sample_orders.head()

In [16]:
sample_orders.product_name.value_counts()

Banana                                             472565
Bag of Organic Bananas                             379450
Organic Strawberries                               264683
Organic Baby Spinach                               241921
Organic Hass Avocado                               213584
Organic Avocado                                    176815
Large Lemon                                        152657
Strawberries                                       142951
Limes                                              140627
Organic Whole Milk                                 137905
Organic Raspberries                                137057
Organic Yellow Onion                               113426
Organic Garlic                                     109778
Organic Zucchini                                   104823
Organic Blueberries                                100060
Cucumber Kirby                                      97315
Organic Fuji Apple                                  89632
Organic Lemon                                       87746
Apple Honeycrisp Organic                            85020
Organic Grape Tomatoes                              84255
Seedless Red Grapes                                 82689
Organic Cucumber                                    80392
Honeycrisp Apple                                    79769
Organic Baby Carrots                                76896
Organic Half & Half                                 76360
Sparkling Water Grapefruit                          75886
Organic Large Extra Fancy Fuji Apple                75165
Yellow Onions                                       73167
Organic Gala Apples                                 72846
Organic Baby Arugula                                72829
                                                    ...
Hennepin Farmhouse Ale                                  1
Glycerine Soap Cucumber                                 1
Flax Oil, Organic, Omega-3, Original Formula            1
Pasta Shapes In Tomato Sauce                            1
Spinach Cheese Rice Palak Paneer Dinner                 1
Bite Size Caramel Chocolates                            1
Organic Ice Cream Birthday Cake                         1
Blackened Turkey                                        1
Multigrain Penne Rigate                                 1
Jamaican Allspice                                       1
Vitamin D Gummies                                       1
Control GX Gray Reducing Shampoo                        1
Berry Sprouted Blend Cereal                             1
Vegan Coconut Milk Caramels With Sea Salt               1
Organic Better Rest Tea Blend                           1
Peanut Butter Banana                                    1
Indoor Purna Bynd Gf                                    1
Homestlye Cornbread Stuffing                            1
Lindor Peppermint White Chocolate Truffles              1
Orangemint Flavored Water                               1
Organic Chickpea Fusilli Pasta                          1
Pumpkin Spice Almond Nog                                1
Tropic Thunder  Coconut & Cream                         1
Master Blend Ground Coffee                              1
Cajun Sides Dirty Rice                                  1
Florentine Spinach & Cheese Pasta Sauce                 1
Salted Caramel Craze Ice Cream                          1
Max White With Polishing Star Soft Toothbrush           1
Pantene Pro-V Color Preserve Volume Conditioner         1
Midnight Brownie Cookies                                1
Name: product_name, Length: 49677, dtype: int64

In [17]:
sample_orders.shape

(32434489, 13)

In [18]:
sample_orders.order_id.nunique()

3214874

In [19]:
sample_orders.product_id.nunique()

49677

In [ ]:
market_basket = sample_orders.groupby('order_id')['product_name'].apply(list)
market_basket = market_basket.reset_index()
market_basket

In [17]:
sample_orders[sample_orders.order_id == 10557]

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id
10834,10557,19660,3,1,186847,prior,43,5,12,4.0,Spring Water,115,7
34509,10557,30489,4,1,186847,prior,43,5,12,4.0,Original Hummus,67,20
76704,10557,343,5,0,186847,prior,43,5,12,4.0,Organic Whole Peeled Baby Carrots,123,4
86157,10557,42803,1,1,186847,prior,43,5,12,4.0,Organic Apple Slices,50,19
99997,10557,23198,2,1,186847,prior,43,5,12,4.0,Organic Chicken Drumsticks,49,12

In [18]:
mb = market_basket.product_name.values

In [19]:
mb

array([list(['Organic Egg Whites', 'Michigan Organic Kale', 'Garlic Powder', 'Coconut Butter', 'Natural Sweetener', 'Carrots', 'Original Unflavored Gelatine Mix', 'All Natural No Stir Creamy Almond Butter', 'Classic Blend Cole Slaw']),
       list(['Total 2% with Strawberry Lowfat Greek Strained Yogurt', 'Unsweetened Almondmilk', 'Lemons', 'Organic Baby Spinach', 'Unsweetened Chocolate Almond Breeze Almond Milk', 'Organic Ginger Root', 'Air Chilled Organic Boneless Skinless Chicken Breasts', 'Organic Ezekiel 49 Bread Cinnamon Raisin']),
       list(['Plain Pre-Sliced Bagels', 'Honey/Lemon Cough Drops', 'Chewy 25% Low Sugar Chocolate Chip Granola', 'Oats & Chocolate Chewy Bars', "Kellogg's Nutri-Grain Apple Cinnamon Cereal", 'Nutri-Grain Soft Baked Strawberry Cereal Breakfast Bars', "Kellogg's Nutri-Grain Blueberry Cereal", 'Tiny Twists Pretzels', 'Traditional Snack Mix', 'Goldfish Cheddar Baked Snack Crackers', 'Original Orange Juice', 'Sugarfree Energy Drink', 'Energy Drink']),
       ...,
       list(['Organic Gala Apples', '100% Recycled Bathroom Tissue', 'Organic Refried Black Beans', 'Almonds Mini Nut-Thins Cheddar Cheese', 'Hint Of Sea Salt Almond Nut Thins', 'Chickpeas! Penne Pasta', 'Barbeque Green Peas', 'Dark Chocolate Covered Goji Berries', 'Light Sea Salt Plentils', 'Sea Salt Baked Lentil Chips', 'Sriracha Roasted Broad Beans', 'Fava Crisps, Santa Barbara Ranch']),
       list(['Uncured Pastrami']),
       list(['Natural Spring Water', 'Original Flax Milk Dairy Free Protein+', 'Small Compostable Waste Bag', 'Chocolate Cacao Raw Fit Protein Powder'])],
      dtype=object)

In [20]:
newmb = []
for i in mb:
    newmb.append(i)
newmb[:5]

[['Organic Egg Whites',
  'Michigan Organic Kale',
  'Garlic Powder',
  'Coconut Butter',
  'Natural Sweetener',
  'Carrots',
  'Original Unflavored Gelatine Mix',
  'All Natural No Stir Creamy Almond Butter',
  'Classic Blend Cole Slaw'],
 ['Total 2% with Strawberry Lowfat Greek Strained Yogurt',
  'Unsweetened Almondmilk',
  'Lemons',
  'Organic Baby Spinach',
  'Unsweetened Chocolate Almond Breeze Almond Milk',
  'Organic Ginger Root',
  'Air Chilled Organic Boneless Skinless Chicken Breasts',
  'Organic Ezekiel 49 Bread Cinnamon Raisin'],
 ['Plain Pre-Sliced Bagels',
  'Honey/Lemon Cough Drops',
  'Chewy 25% Low Sugar Chocolate Chip Granola',
  'Oats & Chocolate Chewy Bars',
  "Kellogg's Nutri-Grain Apple Cinnamon Cereal",
  'Nutri-Grain Soft Baked Strawberry Cereal Breakfast Bars',
  "Kellogg's Nutri-Grain Blueberry Cereal",
  'Tiny Twists Pretzels',
  'Traditional Snack Mix',
  'Goldfish Cheddar Baked Snack Crackers',
  'Original Orange Juice',
  'Sugarfree Energy Drink',
  'Energy Drink'],
 ['Bag of Organic Bananas',
  'Just Crisp, Parmesan',
  'Fresh Fruit Salad',
  'Organic Raspberries',
  '2% Reduced Fat Milk',
  'Sensitive Toilet Paper',
  'Natural Artesian Water, Mini & Mobile',
  'Matzos, Thin, Tea',
  'Boneless Skinless Chicken Breast Fillets',
  'Mini Original Babybel Cheese',
  'Macaroni And Cheese',
  'Clementines',
  "Biscuits Orange Pim's",
  'Dairy Milk Fruit & Nut Chocolate Bar',
  'Artichokes',
  'Apricot Preserves',
  'One Ply Choose A Size Big Roll Paper Towel Rolls',
  'Wafer, Chocolate',
  'French Lavender Hand Wash',
  'American Slices Cheese',
  'Everyday  Facial Tissues',
  'Organic Hass Avocado',
  'Spaghetti Pasta',
  'Meyer Lemon',
  'Bag of Organic Lemons',
  'Original Black Box Tablewater Cracker'],
 ['Cleanse',
  'Dryer Sheets Geranium Scent',
  'Clean Day Lavender Scent Room Freshener Spray']]

In [21]:
list(apriori(newmb, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2))

[RelationRecord(items=frozenset({'Lime Sparkling Water', 'Sparkling Water Grapefruit'}), support=0.004615693357415212, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Lime Sparkling Water'}), items_add=frozenset({'Sparkling Water Grapefruit'}), confidence=0.2893081761006289, lift=11.963673373522273)]),
 RelationRecord(items=frozenset({'Limes', 'Organic Cilantro'}), support=0.005318081477021875, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Organic Cilantro'}), items_add=frozenset({'Limes'}), confidence=0.25728155339805825, lift=6.1049237170596395)]),
 RelationRecord(items=frozenset({'Organic Zucchini', 'Organic Baby Spinach'}), support=0.0067228577162352, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Organic Zucchini'}), items_add=frozenset({'Organic Baby Spinach'}), confidence=0.2302405498281787, lift=3.1780849301767717)]),
 RelationRecord(items=frozenset({'Organic Hass Avocado', 'Organic Cucumber'}), support=0.005619104956853301, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Organic Cucumber'}), items_add=frozenset({'Organic Hass Avocado'}), confidence=0.22764227642276422, lift=3.5448170731707314)]),
 RelationRecord(items=frozenset({'Organic Hass Avocado', 'Organic Lemon'}), support=0.006421834236403773, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Organic Lemon'}), items_add=frozenset({'Organic Hass Avocado'}), confidence=0.23272727272727273, lift=3.624)])]

In [107]:
ar = list(apriori(newmb, min_support=0.045, min_confidence=0.2, min_lift=1, min_length=2))
ar = pd.DataFrame(ar)
ar

Empty DataFrame
Columns: []
Index: []

In [96]:
ar.iloc[0,-1]

[OrderedStatistic(items_base=frozenset({'Lime Sparkling Water'}), items_add=frozenset({'Sparkling Water Grapefruit'}), confidence=0.2893081761006289, lift=11.963673373522273)]

In [97]:
import re
def conf(x):
    return re.findall(r'\d+[.]\d+',x)

In [98]:
ar['ordered_statistics'] = ar['ordered_statistics'].astype('str')
ar['Confidence1'] = ar.ordered_statistics.apply(conf)

In [99]:
ar

,items,support,ordered_statistics,Confidence1
0,"(Lime Sparkling Water, Sparkling Water Grapefr...",0.004616,[OrderedStatistic(items_base=frozenset({'Lime ...,"[0.2893081761006289, 11.963673373522273]"
1,"(Limes, Organic Cilantro)",0.005318,[OrderedStatistic(items_base=frozenset({'Organ...,"[0.25728155339805825, 6.1049237170596395]"
2,"(Organic Zucchini, Organic Baby Spinach)",0.006723,[OrderedStatistic(items_base=frozenset({'Organ...,"[0.2302405498281787, 3.1780849301767717]"
3,"(Organic Hass Avocado, Organic Cucumber)",0.005619,[OrderedStatistic(items_base=frozenset({'Organ...,"[0.22764227642276422, 3.5448170731707314]"
4,"(Organic Hass Avocado, Organic Lemon)",0.006422,[OrderedStatistic(items_base=frozenset({'Organ...,"[0.23272727272727273, 3.624]"

In [89]:
ar.drop('Confidence',axis = 1,inplace=True)
ar

KeyError: "labels ['Confidence'] not contained in axis"

In [102]:
ar['confidence'] = ar.Confidence1.apply(lambda x:x[0][:4])
ar['lift'] = ar.Confidence1.apply(lambda x:x[1][0:4])
ar.drop(['Confidence1','ordered_statistics'],inplace = True,axis = 1)
ar

,items,support,confidence,lift
0,"(Lime Sparkling Water, Sparkling Water Grapefr...",0.004616,0.28,11.9
1,"(Limes, Organic Cilantro)",0.005318,0.25,6.10
2,"(Organic Zucchini, Organic Baby Spinach)",0.006723,0.23,3.17
3,"(Organic Hass Avocado, Organic Cucumber)",0.005619,0.22,3.54
4,"(Organic Hass Avocado, Organic Lemon)",0.006422,0.23,3.62

In [103]:
ar.dtypes

items          object
support       float64
confidence     object
lift           object
dtype: object

In [104]:
ar.confidence = ar.confidence.astype('float')
ar.lift = ar.lift.astype('float')
ar.sort_values('confidence',ascending = [0])

,items,support,confidence,lift
0,"(Lime Sparkling Water, Sparkling Water Grapefr...",0.004616,0.28,11.90
1,"(Limes, Organic Cilantro)",0.005318,0.25,6.10
2,"(Organic Zucchini, Organic Baby Spinach)",0.006723,0.23,3.17
4,"(Organic Hass Avocado, Organic Lemon)",0.006422,0.23,3.62
3,"(Organic Hass Avocado, Organic Cucumber)",0.005619,0.22,3.54

In [105]:
ar.shape

(5, 4)

In [58]:
ar.Confidence1[0]

['0.2893081761006289', '11.963673373522273']

In [ ]:
def conf(x):
    return x.str.split(',')[0][0].replace('[','')

In [77]:
ar['Confidence1'] = ar['Confidence1'].astype('str')
ar['Confidence'] = ar['Confidence1'].apply(conf)
#ar['lift'] = ar['Confidence1'].str.split(',')[0][1].replace(']','')
ar

,items,support,ordered_statistics,Confidence1,Confidence,lift
0,"(Lime Sparkling Water, Sparkling Water Grapefr...",0.004616,[OrderedStatistic(items_base=frozenset({'Lime ...,"['0.2893081761006289', '11.963673373522273']","[0.2893081761006289, 11.963673373522273]",'11.963673373522273'
1,"(Limes, Organic Cilantro)",0.005318,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.25728155339805825', '6.1049237170596395']","[0.25728155339805825, 6.1049237170596395]",'11.963673373522273'
2,"(Organic Zucchini, Organic Baby Spinach)",0.006723,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.2302405498281787', '3.1780849301767717']","[0.2302405498281787, 3.1780849301767717]",'11.963673373522273'
3,"(Organic Hass Avocado, Organic Cucumber)",0.005619,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.22764227642276422', '3.5448170731707314']","[0.22764227642276422, 3.5448170731707314]",'11.963673373522273'
4,"(Organic Hass Avocado, Organic Lemon)",0.006422,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.23272727272727273', '3.624']","[0.23272727272727273, 3.624]",'11.963673373522273'

In [83]:
def conf2(x):
    return x[0][0]

In [84]:
ar['Confidence2'] = ar['Confidence'].apply(conf)

In [85]:
ar

,items,support,ordered_statistics,Confidence1,Confidence,lift,Confidence2
0,"(Lime Sparkling Water, Sparkling Water Grapefr...",0.004616,[OrderedStatistic(items_base=frozenset({'Lime ...,"['0.2893081761006289', '11.963673373522273']","[0.2893081761006289, 11.963673373522273]",'11.963673373522273',"[0.2893081761006289, 11.963673373522273]"
1,"(Limes, Organic Cilantro)",0.005318,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.25728155339805825', '6.1049237170596395']","[0.25728155339805825, 6.1049237170596395]",'11.963673373522273',"[0.25728155339805825, 6.1049237170596395]"
2,"(Organic Zucchini, Organic Baby Spinach)",0.006723,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.2302405498281787', '3.1780849301767717']","[0.2302405498281787, 3.1780849301767717]",'11.963673373522273',"[0.2302405498281787, 3.1780849301767717]"
3,"(Organic Hass Avocado, Organic Cucumber)",0.005619,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.22764227642276422', '3.5448170731707314']","[0.22764227642276422, 3.5448170731707314]",'11.963673373522273',"[0.22764227642276422, 3.5448170731707314]"
4,"(Organic Hass Avocado, Organic Lemon)",0.006422,[OrderedStatistic(items_base=frozenset({'Organ...,"['0.23272727272727273', '3.624']","[0.23272727272727273, 3.624]",'11.963673373522273',"[0.23272727272727273, 3.624]"

In [79]:
ar['Confidence']

['0.2893081761006289', '11.963673373522273']

In [62]:
"'0.2893081761006289', '11.963673373522273'".split(',')

["'0.2893081761006289'", " '11.963673373522273'"]

In [63]:
int("'0.2893081761006289'")

ValueError: invalid literal for int() with base 10: "'0.2893081761006289'"