In [4]:
import pandas as pd
ratings= pd.read_csv(R"A:\Hari\ml-latest-small\ml-latest-small\ratings.csv")
ratings

        userId  movieId  rating   timestamp
0            1       31     2.5  1260759144
1            1     1029     3.0  1260759179
2            1     1061     3.0  1260759182
3            1     1129     2.0  1260759185
4            1     1172     4.0  1260759205
5            1     1263     2.0  1260759151
6            1     1287     2.0  1260759187
7            1     1293     2.0  1260759148
8            1     1339     3.5  1260759125
9            1     1343     2.0  1260759131
10           1     1371     2.5  1260759135
11           1     1405     1.0  1260759203
12           1     1953     4.0  1260759191
13           1     2105     4.0  1260759139
14           1     2150     3.0  1260759194
15           1     2193     2.0  1260759198
16           1     2294     2.0  1260759108
17           1     2455     2.5  1260759113
18           1     2968     1.0  1260759200
19           1     3671     3.0  1260759117
20           2       10     4.0   835355493
21           2       17     5.0   835355681
22           2       39     5.0   835355604
23           2       47     4.0   835355552
24           2       50     4.0   835355586
25           2       52     3.0   835356031
26           2       62     3.0   835355749
27           2      110     4.0   835355532
28           2      144     3.0   835356016
29           2      150     5.0   835355395
...        ...      ...     ...         ...
99974      671     4034     4.5  1064245493
99975      671     4306     5.0  1064245548
99976      671     4308     3.5  1065111985
99977      671     4880     4.0  1065111973
99978      671     4886     5.0  1064245488
99979      671     4896     5.0  1065111996
99980      671     4963     4.5  1065111855
99981      671     4973     4.5  1064245471
99982      671     4993     5.0  1064245483
99983      671     4995     4.0  1064891537
99984      671     5010     2.0  1066793004
99985      671     5218     2.0  1065111990
99986      671     5299     3.0  1065112004
99987      671     5349     4.0  1065111863
99988      671     5377     4.0  1064245557
99989      671     5445     4.5  1064891627
99990      671     5464     3.0  1064891549
99991      671     5669     4.0  1063502711
99992      671     5816     4.0  1065111963
99993      671     5902     3.5  1064245507
99994      671     5952     5.0  1063502716
99995      671     5989     4.0  1064890625
99996      671     5991     4.5  1064245387
99997      671     5995     4.0  1066793014
99998      671     6212     2.5  1065149436
99999      671     6268     2.5  1065579370
100000     671     6269     4.0  1065149201
100001     671     6365     4.0  1070940363
100002     671     6385     2.5  1070979663
100003     671     6565     3.5  1074784724

[100004 rows x 4 columns]

In [13]:
def func(x):
    return float(x)

In [15]:
# to apply a particular operation to the whole data frame
ratings.applymap(func)

        userId  movieId  rating     timestamp
0          1.0     31.0     2.5  1.260759e+09
1          1.0   1029.0     3.0  1.260759e+09
2          1.0   1061.0     3.0  1.260759e+09
3          1.0   1129.0     2.0  1.260759e+09
4          1.0   1172.0     4.0  1.260759e+09
5          1.0   1263.0     2.0  1.260759e+09
6          1.0   1287.0     2.0  1.260759e+09
7          1.0   1293.0     2.0  1.260759e+09
8          1.0   1339.0     3.5  1.260759e+09
9          1.0   1343.0     2.0  1.260759e+09
10         1.0   1371.0     2.5  1.260759e+09
11         1.0   1405.0     1.0  1.260759e+09
12         1.0   1953.0     4.0  1.260759e+09
13         1.0   2105.0     4.0  1.260759e+09
14         1.0   2150.0     3.0  1.260759e+09
15         1.0   2193.0     2.0  1.260759e+09
16         1.0   2294.0     2.0  1.260759e+09
17         1.0   2455.0     2.5  1.260759e+09
18         1.0   2968.0     1.0  1.260759e+09
19         1.0   3671.0     3.0  1.260759e+09
20         2.0     10.0     4.0  8.353555e+08
21         2.0     17.0     5.0  8.353557e+08
22         2.0     39.0     5.0  8.353556e+08
23         2.0     47.0     4.0  8.353556e+08
24         2.0     50.0     4.0  8.353556e+08
25         2.0     52.0     3.0  8.353560e+08
26         2.0     62.0     3.0  8.353557e+08
27         2.0    110.0     4.0  8.353555e+08
28         2.0    144.0     3.0  8.353560e+08
29         2.0    150.0     5.0  8.353554e+08
...        ...      ...     ...           ...
99974    671.0   4034.0     4.5  1.064245e+09
99975    671.0   4306.0     5.0  1.064246e+09
99976    671.0   4308.0     3.5  1.065112e+09
99977    671.0   4880.0     4.0  1.065112e+09
99978    671.0   4886.0     5.0  1.064245e+09
99979    671.0   4896.0     5.0  1.065112e+09
99980    671.0   4963.0     4.5  1.065112e+09
99981    671.0   4973.0     4.5  1.064245e+09
99982    671.0   4993.0     5.0  1.064245e+09
99983    671.0   4995.0     4.0  1.064892e+09
99984    671.0   5010.0     2.0  1.066793e+09
99985    671.0   5218.0     2.0  1.065112e+09
99986    671.0   5299.0     3.0  1.065112e+09
99987    671.0   5349.0     4.0  1.065112e+09
99988    671.0   5377.0     4.0  1.064246e+09
99989    671.0   5445.0     4.5  1.064892e+09
99990    671.0   5464.0     3.0  1.064892e+09
99991    671.0   5669.0     4.0  1.063503e+09
99992    671.0   5816.0     4.0  1.065112e+09
99993    671.0   5902.0     3.5  1.064246e+09
99994    671.0   5952.0     5.0  1.063503e+09
99995    671.0   5989.0     4.0  1.064891e+09
99996    671.0   5991.0     4.5  1.064245e+09
99997    671.0   5995.0     4.0  1.066793e+09
99998    671.0   6212.0     2.5  1.065149e+09
99999    671.0   6268.0     2.5  1.065579e+09
100000   671.0   6269.0     4.0  1.065149e+09
100001   671.0   6365.0     4.0  1.070940e+09
100002   671.0   6385.0     2.5  1.070980e+09
100003   671.0   6565.0     3.5  1.074785e+09

[100004 rows x 4 columns]

In [17]:
ratings.applymap(lambda x: float(x))

        userId  movieId  rating     timestamp
0          1.0     31.0     2.5  1.260759e+09
1          1.0   1029.0     3.0  1.260759e+09
2          1.0   1061.0     3.0  1.260759e+09
3          1.0   1129.0     2.0  1.260759e+09
4          1.0   1172.0     4.0  1.260759e+09
5          1.0   1263.0     2.0  1.260759e+09
6          1.0   1287.0     2.0  1.260759e+09
7          1.0   1293.0     2.0  1.260759e+09
8          1.0   1339.0     3.5  1.260759e+09
9          1.0   1343.0     2.0  1.260759e+09
10         1.0   1371.0     2.5  1.260759e+09
11         1.0   1405.0     1.0  1.260759e+09
12         1.0   1953.0     4.0  1.260759e+09
13         1.0   2105.0     4.0  1.260759e+09
14         1.0   2150.0     3.0  1.260759e+09
15         1.0   2193.0     2.0  1.260759e+09
16         1.0   2294.0     2.0  1.260759e+09
17         1.0   2455.0     2.5  1.260759e+09
18         1.0   2968.0     1.0  1.260759e+09
19         1.0   3671.0     3.0  1.260759e+09
20         2.0     10.0     4.0  8.353555e+08
21         2.0     17.0     5.0  8.353557e+08
22         2.0     39.0     5.0  8.353556e+08
23         2.0     47.0     4.0  8.353556e+08
24         2.0     50.0     4.0  8.353556e+08
25         2.0     52.0     3.0  8.353560e+08
26         2.0     62.0     3.0  8.353557e+08
27         2.0    110.0     4.0  8.353555e+08
28         2.0    144.0     3.0  8.353560e+08
29         2.0    150.0     5.0  8.353554e+08
...        ...      ...     ...           ...
99974    671.0   4034.0     4.5  1.064245e+09
99975    671.0   4306.0     5.0  1.064246e+09
99976    671.0   4308.0     3.5  1.065112e+09
99977    671.0   4880.0     4.0  1.065112e+09
99978    671.0   4886.0     5.0  1.064245e+09
99979    671.0   4896.0     5.0  1.065112e+09
99980    671.0   4963.0     4.5  1.065112e+09
99981    671.0   4973.0     4.5  1.064245e+09
99982    671.0   4993.0     5.0  1.064245e+09
99983    671.0   4995.0     4.0  1.064892e+09
99984    671.0   5010.0     2.0  1.066793e+09
99985    671.0   5218.0     2.0  1.065112e+09
99986    671.0   5299.0     3.0  1.065112e+09
99987    671.0   5349.0     4.0  1.065112e+09
99988    671.0   5377.0     4.0  1.064246e+09
99989    671.0   5445.0     4.5  1.064892e+09
99990    671.0   5464.0     3.0  1.064892e+09
99991    671.0   5669.0     4.0  1.063503e+09
99992    671.0   5816.0     4.0  1.065112e+09
99993    671.0   5902.0     3.5  1.064246e+09
99994    671.0   5952.0     5.0  1.063503e+09
99995    671.0   5989.0     4.0  1.064891e+09
99996    671.0   5991.0     4.5  1.064245e+09
99997    671.0   5995.0     4.0  1.066793e+09
99998    671.0   6212.0     2.5  1.065149e+09
99999    671.0   6268.0     2.5  1.065579e+09
100000   671.0   6269.0     4.0  1.065149e+09
100001   671.0   6365.0     4.0  1.070940e+09
100002   671.0   6385.0     2.5  1.070980e+09
100003   671.0   6565.0     3.5  1.074785e+09

[100004 rows x 4 columns]

In [23]:
loan = pd.read_csv(r"A:\Hari\Loan.csv")
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [27]:
# map is used to transform existing values in a series
loan.Gender = loan.Gender.map({'Male':'M','Female':'F'})
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,M,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,M,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,M,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,M,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,M,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [29]:
    titanic = pd.read_csv(R"A:\Hari\titanic.csv")
    titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
# we can do this sort pf operations using apply
titanic.Name.str.split(',').apply(lambda x:x[0]).head()

0       Braund
1      Cumings
2    Heikkinen
3     Futrelle
4        Allen
Name: Name, dtype: object

In [19]:
# to apply the transformation for the specific column
ratings.apply(max,axis=1).head()

0    1.260759e+09
1    1.260759e+09
2    1.260759e+09
3    1.260759e+09
4    1.260759e+09
dtype: float64

In [21]:
ratings.apply(max,axis=0).head()

userId       6.710000e+02
movieId      1.639490e+05
rating       5.000000e+00
timestamp    1.476641e+09
dtype: float64

In [22]:
ratings.apply(min,axis=0).head()

userId               1.0
movieId              1.0
rating               0.5
timestamp    789652009.0
dtype: float64