In [1]:
spark

In [54]:
from pyspark.sql.functions import *

In [55]:
import pyspark.sql.functions as func

In [2]:
movies = spark.read.parquet("movies")
movies.show()

+-------+--------------------+--------------------+
|movieid|               title|              genres|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [3]:
ratings = spark.read.parquet("ratings")
ratings.show()

+------+-------+------+----------+
|userid|movieid|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    653|   3.0|1094785691|
|     1|    919|   3.5|1094785621|
+------+-------+------+----------+
only showing top 20 rows

In [33]:
ratingsCon = spark.read.parquet("ratings").where(col("rating") > 3)
ratingsCon.show()

+------+-------+------+----------+
|userid|movieid|rating| timestamp|
+------+-------+------+----------+
|     1|      2|   3.5|1112486027|
|     1|     29|   3.5|1112484676|
|     1|     32|   3.5|1112484819|
|     1|     47|   3.5|1112484727|
|     1|     50|   3.5|1112484580|
|     1|    112|   3.5|1094785740|
|     1|    151|   4.0|1094785734|
|     1|    223|   4.0|1112485573|
|     1|    253|   4.0|1112484940|
|     1|    260|   4.0|1112484826|
|     1|    293|   4.0|1112484703|
|     1|    296|   4.0|1112484767|
|     1|    318|   4.0|1112484798|
|     1|    337|   3.5|1094785709|
|     1|    367|   3.5|1112485980|
|     1|    541|   4.0|1112484603|
|     1|    589|   3.5|1112485557|
|     1|    593|   3.5|1112484661|
|     1|    919|   3.5|1094785621|
|     1|    924|   3.5|1094785598|
+------+-------+------+----------+
only showing top 20 rows

In [6]:
movies1= movies.withColumn('year', regexp_extract(col('title'),"\d{4}",0))
movies1.show()

+-------+--------------------+--------------------+----+
|movieid|               title|              genres|year|
+-------+--------------------+--------------------+----+
|      1|    Toy Story (1995)|Adventure|Animati...|1995|
|      2|      Jumanji (1995)|Adventure|Childre...|1995|
|      3|Grumpier Old Men ...|      Comedy|Romance|1995|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|1995|
|      5|Father of the Bri...|              Comedy|1995|
|      6|         Heat (1995)|Action|Crime|Thri...|1995|
|      7|      Sabrina (1995)|      Comedy|Romance|1995|
|      8| Tom and Huck (1995)|  Adventure|Children|1995|
|      9| Sudden Death (1995)|              Action|1995|
|     10|    GoldenEye (1995)|Action|Adventure|...|1995|
|     11|American Presiden...|Comedy|Drama|Romance|1995|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|
|     13|        Balto (1995)|Adventure|Animati...|1995|
|     14|        Nixon (1995)|               Drama|1995|
|     15|Cutthroat Island ...|Action|Adventure|...|1995|
|     16|       Casino (1995)|         Crime|Drama|1995|
|     17|Sense and Sensibi...|       Drama|Romance|1995|
|     18|   Four Rooms (1995)|              Comedy|1995|
|     19|Ace Ventura: When...|              Comedy|1995|
|     20|  Money Train (1995)|Action|Comedy|Cri...|1995|
+-------+--------------------+--------------------+----+
only showing top 20 rows

In [7]:
ratingCount = ratings.groupby("movieid").count()
ratingCount.show()

+-------+-----+
|movieid|count|
+-------+-----+
|   3997| 2047|
|   1580|35580|
|   3918| 1246|
|   2366| 6627|
|   3175|13945|
|   4519| 1936|
|   1591| 5255|
|    471|11268|
|   2866| 1407|
|   1645|11458|
|   5803| 1046|
|   1088|11013|
|    833| 1427|
|   8638| 3449|
|    463|  410|
|   1959| 5016|
|   2659|  260|
|   1342| 3289|
|   1238| 3194|
|   2122| 2398|
+-------+-----+
only showing top 20 rows

In [9]:
avgRating = ratings.groupby("movieid").agg(avg("rating")).withColumnRenamed("avg(rating)","rating").withColumn("avgRating",round(col('rating'), 2)).drop("rating")
avgRating.show()

+-------+---------+
|movieid|avgRating|
+-------+---------+
|   3997|     2.07|
|   1580|     3.56|
|   3918|     2.92|
|   2366|     3.55|
|   3175|      3.6|
|   4519|     3.25|
|   1591|     2.62|
|    471|     3.66|
|   2866|     3.61|
|   1645|     3.48|
|   5803|     2.77|
|   1088|     3.21|
|    833|     2.73|
|   8638|     3.94|
|    463|      2.8|
|   1959|     3.63|
|   2659|     3.23|
|   1342|     2.95|
|   1238|     3.97|
|   2122|      2.6|
+-------+---------+
only showing top 20 rows

In [14]:
aveRating2 = ratings.groupby("movieid").agg({'rating':'mean'})
aveRating2.show()

+-------+------------------+
|movieid|       avg(rating)|
+-------+------------------+
|   3997|2.0703468490473864|
|   1580|  3.55831928049466|
|   3918| 2.918940609951846|
|   2366|3.5492681454655197|
|   3175| 3.600717102904267|
|   4519|3.2463842975206614|
|   1591|2.6201712654614653|
|    471|3.6641817536386228|
|   2866| 3.605188343994314|
|   1645|3.4787484726828417|
|   5803| 2.772944550669216|
|   1088| 3.209207300463089|
|    833| 2.725998598458304|
|   8638|3.9375181211945494|
|    463|               2.8|
|   1959| 3.628987240829346|
|   2659|3.2326923076923078|
|   1342| 2.949072666463971|
|   1238|  3.96665623043206|
|   2122| 2.596538782318599|
+-------+------------------+
only showing top 20 rows

In [17]:
ratings.groupby("movieid").agg(avg("rating").alias('avgRating')).show()

+-------+------------------+
|movieid|         avgRating|
+-------+------------------+
|   3997|2.0703468490473864|
|   1580|  3.55831928049466|
|   3918| 2.918940609951846|
|   2366|3.5492681454655197|
|   3175| 3.600717102904267|
|   4519|3.2463842975206614|
|   1591|2.6201712654614653|
|    471|3.6641817536386228|
|   2866| 3.605188343994314|
|   1645|3.4787484726828417|
|   5803| 2.772944550669216|
|   1088| 3.209207300463089|
|    833| 2.725998598458304|
|   8638|3.9375181211945494|
|    463|               2.8|
|   1959| 3.628987240829346|
|   2659|3.2326923076923078|
|   1342| 2.949072666463971|
|   1238|  3.96665623043206|
|   2122| 2.596538782318599|
+-------+------------------+
only showing top 20 rows

In [27]:
movies2 = movies1.withColumnRenamed("movieid","movieId")

In [28]:
movies2.show()

+-------+--------------------+--------------------+----+
|movieId|               title|              genres|year|
+-------+--------------------+--------------------+----+
|      1|    Toy Story (1995)|Adventure|Animati...|1995|
|      2|      Jumanji (1995)|Adventure|Childre...|1995|
|      3|Grumpier Old Men ...|      Comedy|Romance|1995|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|1995|
|      5|Father of the Bri...|              Comedy|1995|
|      6|         Heat (1995)|Action|Crime|Thri...|1995|
|      7|      Sabrina (1995)|      Comedy|Romance|1995|
|      8| Tom and Huck (1995)|  Adventure|Children|1995|
|      9| Sudden Death (1995)|              Action|1995|
|     10|    GoldenEye (1995)|Action|Adventure|...|1995|
|     11|American Presiden...|Comedy|Drama|Romance|1995|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|
|     13|        Balto (1995)|Adventure|Animati...|1995|
|     14|        Nixon (1995)|               Drama|1995|
|     15|Cutthroat Island ...|Action|Adventure|...|1995|
|     16|       Casino (1995)|         Crime|Drama|1995|
|     17|Sense and Sensibi...|       Drama|Romance|1995|
|     18|   Four Rooms (1995)|              Comedy|1995|
|     19|Ace Ventura: When...|              Comedy|1995|
|     20|  Money Train (1995)|Action|Comedy|Cri...|1995|
+-------+--------------------+--------------------+----+
only showing top 20 rows

In [29]:
movies3 = movies2.join(avgRating,movies2.movieId==avgRating.movieid,how = "inner")
movies3.show()

+-------+--------------------+--------------------+----+-------+---------+
|movieId|               title|              genres|year|movieid|avgRating|
+-------+--------------------+--------------------+----+-------+---------+
|   3997|Dungeons & Dragon...|   Adventure|Fantasy|2000|   3997|     2.07|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|   1580|     3.56|
|   3918|Hellbound: Hellra...|              Horror|1988|   3918|     2.92|
|   2366|    King Kong (1933)|Action|Adventure|...|1933|   2366|     3.55|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|1999|   3175|      3.6|
|   4519|Land Before Time,...|Adventure|Animati...|1988|   4519|     3.25|
|   1591|        Spawn (1997)|Action|Adventure|...|1997|   1591|     2.62|
|    471|Hudsucker Proxy, ...|              Comedy|1994|    471|     3.66|
|   2866|Buddy Holly Story...|               Drama|1978|   2866|     3.61|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|1997|   1645|     3.48|
|   5803|        I Spy (2002)|Action|Adventure|...|2002|   5803|     2.77|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|   1088|     3.21|
|    833|High School High ...|              Comedy|1996|    833|     2.73|
|   8638|Before Sunset (2004)|       Drama|Romance|2004|   8638|     3.94|
|    463|Guilty as Sin (1993)|Crime|Drama|Thriller|1993|    463|      2.8|
|   1959|Out of Africa (1985)|       Drama|Romance|1985|   1959|     3.63|
|   2659|It Came from Holl...|  Comedy|Documentary|1982|   2659|     3.23|
|   1342|     Candyman (1992)|     Horror|Thriller|1992|   1342|     2.95|
|   1238|   Local Hero (1983)|              Comedy|1983|   1238|     3.97|
|   2122|Children of the C...|     Horror|Thriller|1984|   2122|      2.6|
+-------+--------------------+--------------------+----+-------+---------+
only showing top 20 rows

In [34]:
movies4 = movies1.join(avgRating,how = "inner",on = 'movieid')
movies4.show()

+-------+--------------------+--------------------+----+---------+
|movieid|               title|              genres|year|avgRating|
+-------+--------------------+--------------------+----+---------+
|   3997|Dungeons & Dragon...|   Adventure|Fantasy|2000|     2.07|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|     3.56|
|   3918|Hellbound: Hellra...|              Horror|1988|     2.92|
|   2366|    King Kong (1933)|Action|Adventure|...|1933|     3.55|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|1999|      3.6|
|   4519|Land Before Time,...|Adventure|Animati...|1988|     3.25|
|   1591|        Spawn (1997)|Action|Adventure|...|1997|     2.62|
|    471|Hudsucker Proxy, ...|              Comedy|1994|     3.66|
|   2866|Buddy Holly Story...|               Drama|1978|     3.61|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|1997|     3.48|
|   5803|        I Spy (2002)|Action|Adventure|...|2002|     2.77|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|     3.21|
|    833|High School High ...|              Comedy|1996|     2.73|
|   8638|Before Sunset (2004)|       Drama|Romance|2004|     3.94|
|    463|Guilty as Sin (1993)|Crime|Drama|Thriller|1993|      2.8|
|   1959|Out of Africa (1985)|       Drama|Romance|1985|     3.63|
|   2659|It Came from Holl...|  Comedy|Documentary|1982|     3.23|
|   1342|     Candyman (1992)|     Horror|Thriller|1992|     2.95|
|   1238|   Local Hero (1983)|              Comedy|1983|     3.97|
|   2122|Children of the C...|     Horror|Thriller|1984|      2.6|
+-------+--------------------+--------------------+----+---------+
only showing top 20 rows

In [35]:
movies5 = movies4.join(ratingcount,how = "inner",on = 'movieid')
movies5.show()

+-------+--------------------+--------------------+----+---------+-----+
|movieid|               title|              genres|year|avgRating|count|
+-------+--------------------+--------------------+----+---------+-----+
|    148|Awfully Big Adven...|               Drama|1995|     2.89|  357|
|    463|Guilty as Sin (1993)|Crime|Drama|Thriller|1993|      2.8|  410|
|    471|Hudsucker Proxy, ...|              Comedy|1994|     3.66|11268|
|    496|What Happened Was...|Comedy|Drama|Roma...|1994|     3.29|  413|
|    833|High School High ...|              Comedy|1996|     2.73| 1427|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|1987|     3.21|11013|
|   1238|   Local Hero (1983)|              Comedy|1983|     3.97| 3194|
|   1342|     Candyman (1992)|     Horror|Thriller|1992|     2.95| 3289|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|1997|     3.56|35580|
|   1591|        Spawn (1997)|Action|Adventure|...|1997|     2.62| 5255|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|1997|     3.48|11458|
|   1829|  Chinese Box (1997)|       Drama|Romance|1997|     3.09|  278|
|   1959|Out of Africa (1985)|       Drama|Romance|1985|     3.63| 5016|
|   2122|Children of the C...|     Horror|Thriller|1984|      2.6| 2398|
|   2142|American Tail: Fi...|Adventure|Animati...|1991|     2.99| 2154|
|   2366|    King Kong (1933)|Action|Adventure|...|1933|     3.55| 6627|
|   2659|It Came from Holl...|  Comedy|Documentary|1982|     3.23|  260|
|   2866|Buddy Holly Story...|               Drama|1978|     3.61| 1407|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|1999|      3.6|13945|
|   3749|Time Regained (Te...|               Drama|1999|     3.26|  130|
+-------+--------------------+--------------------+----+---------+-----+
only showing top 20 rows

In [37]:
movies5.filter(movies5.year < 1950).count()

2346

In [45]:
movies5.agg({'year':'max'}).show()

+---------+
|max(year)|
+---------+
|     9012|
+---------+

In [46]:
movies5.agg({'year':'min'}).show()

+---------+
|min(year)|
+---------+
|         |
+---------+

In [51]:
movies6 = movies5.withColumn('release', regexp_replace(regexp_extract(col('title'),"\(\d{4}\)",0),'[\(\)]',"")).drop('year')
movies6.show()

+-------+--------------------+--------------------+---------+-----+-------+
|movieid|               title|              genres|avgRating|count|release|
+-------+--------------------+--------------------+---------+-----+-------+
|    148|Awfully Big Adven...|               Drama|     2.89|  357|   1995|
|    463|Guilty as Sin (1993)|Crime|Drama|Thriller|      2.8|  410|   1993|
|    471|Hudsucker Proxy, ...|              Comedy|     3.66|11268|   1994|
|    496|What Happened Was...|Comedy|Drama|Roma...|     3.29|  413|   1994|
|    833|High School High ...|              Comedy|     2.73| 1427|   1996|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|     3.21|11013|   1987|
|   1238|   Local Hero (1983)|              Comedy|     3.97| 3194|   1983|
|   1342|     Candyman (1992)|     Horror|Thriller|     2.95| 3289|   1992|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|     3.56|35580|   1997|
|   1591|        Spawn (1997)|Action|Adventure|...|     2.62| 5255|   1997|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|     3.48|11458|   1997|
|   1829|  Chinese Box (1997)|       Drama|Romance|     3.09|  278|   1997|
|   1959|Out of Africa (1985)|       Drama|Romance|     3.63| 5016|   1985|
|   2122|Children of the C...|     Horror|Thriller|      2.6| 2398|   1984|
|   2142|American Tail: Fi...|Adventure|Animati...|     2.99| 2154|   1991|
|   2366|    King Kong (1933)|Action|Adventure|...|     3.55| 6627|   1933|
|   2659|It Came from Holl...|  Comedy|Documentary|     3.23|  260|   1982|
|   2866|Buddy Holly Story...|               Drama|     3.61| 1407|   1978|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|      3.6|13945|   1999|
|   3749|Time Regained (Te...|               Drama|     3.26|  130|   1999|
+-------+--------------------+--------------------+---------+-----+-------+
only showing top 20 rows

In [52]:
movies6.printSchema()

root
 |-- movieid: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- avgRating: double (nullable = true)
 |-- count: long (nullable = false)
 |-- release: string (nullable = true)

In [60]:
movies7 = movies6.withColumn('releaseYear',movies6['release'].cast('int')).drop('release')
movies7.printSchema()

root
 |-- movieid: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- avgRating: double (nullable = true)
 |-- count: long (nullable = false)
 |-- releaseYear: integer (nullable = true)

In [61]:
movies7.show()

+-------+--------------------+--------------------+---------+-----+-----------+
|movieid|               title|              genres|avgRating|count|releaseYear|
+-------+--------------------+--------------------+---------+-----+-----------+
|    148|Awfully Big Adven...|               Drama|     2.89|  357|       1995|
|    463|Guilty as Sin (1993)|Crime|Drama|Thriller|      2.8|  410|       1993|
|    471|Hudsucker Proxy, ...|              Comedy|     3.66|11268|       1994|
|    496|What Happened Was...|Comedy|Drama|Roma...|     3.29|  413|       1994|
|    833|High School High ...|              Comedy|     2.73| 1427|       1996|
|   1088|Dirty Dancing (1987)|Drama|Musical|Rom...|     3.21|11013|       1987|
|   1238|   Local Hero (1983)|              Comedy|     3.97| 3194|       1983|
|   1342|     Candyman (1992)|     Horror|Thriller|     2.95| 3289|       1992|
|   1580|Men in Black (a.k...|Action|Comedy|Sci-Fi|     3.56|35580|       1997|
|   1591|        Spawn (1997)|Action|Adventure|...|     2.62| 5255|       1997|
|   1645|Devil's Advocate,...|Drama|Mystery|Thr...|     3.48|11458|       1997|
|   1829|  Chinese Box (1997)|       Drama|Romance|     3.09|  278|       1997|
|   1959|Out of Africa (1985)|       Drama|Romance|     3.63| 5016|       1985|
|   2122|Children of the C...|     Horror|Thriller|      2.6| 2398|       1984|
|   2142|American Tail: Fi...|Adventure|Animati...|     2.99| 2154|       1991|
|   2366|    King Kong (1933)|Action|Adventure|...|     3.55| 6627|       1933|
|   2659|It Came from Holl...|  Comedy|Documentary|     3.23|  260|       1982|
|   2866|Buddy Holly Story...|               Drama|     3.61| 1407|       1978|
|   3175| Galaxy Quest (1999)|Adventure|Comedy|...|      3.6|13945|       1999|
|   3749|Time Regained (Te...|               Drama|     3.26|  130|       1999|
+-------+--------------------+--------------------+---------+-----+-----------+
only showing top 20 rows

In [64]:
movies7.agg({'releaseYear':'max'}).show()

+----------------+
|max(releaseYear)|
+----------------+
|            2015|
+----------------+

In [65]:
movies7.agg({'releaseYear':'min'}).show()

+----------------+
|min(releaseYear)|
+----------------+
|            1891|
+----------------+

In [80]:
movies7.groupby("releaseYear").agg(countDistinct("title").alias('count')).agg({'count':'min'}).show()

+----------+
|min(count)|
+----------+
|         1|
+----------+

In [77]:
movies7.groupby("releaseYear").agg(countDistinct("title").alias('count')).agg({'count':'max'}).show()

+----------+
|max(count)|
+----------+
|      1101|
+----------+

In [79]:
movies7.groupby("releaseYear").agg(countDistinct("title").alias('count')).sort(col("count").desc()).show()

+-----------+-----+
|releaseYear|count|
+-----------+-----+
|       2009| 1101|
|       2011| 1006|
|       2012|  996|
|       2013|  987|
|       2008|  968|
|       2010|  946|
|       2007|  891|
|       2006|  843|
|       2005|  729|
|       2014|  710|
|       2004|  700|
|       2002|  676|
|       2003|  648|
|       2001|  629|
|       2000|  608|
|       1998|  552|
|       1999|  536|
|       1997|  523|
|       1996|  505|
|       1995|  472|
+-----------+-----+
only showing top 20 rows

In [ ]:
interactions_df.registerTempTable("movies")

In [96]:
movies7.agg(countDistinct("releaseYear")).show()

+---------------------------+
|count(DISTINCT releaseYear)|
+---------------------------+
|                        118|
+---------------------------+

In [97]:
movies7.select('releaseYear').distinct().count()

119

In [98]:
movies7.registerTempTable("movies")

In [117]:
spark.sql("select * from movies WHERE releaseYear not in"+'('+str(list(range(1891,2016))).replace('[',"") .replace(']',"") +')').show()

+-------+-----+------+---------+-----+-----------+
|movieid|title|genres|avgRating|count|releaseYear|
+-------+-----+------+---------+-----+-----------+
+-------+-----+------+---------+-----+-----------+

In [140]:
spark.range(1891,2016).subtract(movies7.select('releaseYear').distinct()).show()

+----+
|  id|
+----+
|1908|
|1911|
|1897|
|1892|
|1906|
|1907|
|1904|
+----+