 
<p style="font-family: Arial; font-size:3em;color:purple; font-style:bold"><br>
String Fundamentals <br><br><br></p>

# Basic Operations

In [44]:
var1 = "Vijay" # we can create a string by enclosing characters in quotes 
var2 = 'AjithKumar' # We can create it using single('') or double quotes(" "). Python treats it as same
var3 = "he's a cricketer" # we can use the double quotes to escape single quotes

In [19]:
print(len(var1))# len function can be used to calculate the length of a string, list, tuple and dict
print(len(var2))

5
10

In [12]:
print(var1 + var2) # use "+" symbol to merge or concat two strings
print(var1 + ' '+ var2)

VijayAjithKumar
Vijay AjithKumar

In [13]:
print(var1  * 5) # for repetition of the string use Asterix symbol

VijayVijayVijayVijayVijay

 
 # Indexing and Slicing

In [14]:
# Characters in the string are fetched by giving position in square brackets after the string
# The index starts from 0
# you get one character in indexing
print(var1)
print(var2)
print(var1[0])# indexing
print(var2[5])

Vijay
AjithKumar
V
K

In [17]:
# negative indexing
# you can think of negative indexing as counting backwards from the end
print(var1)
print(var2)
print(var1[-1])
print(var2[-5])

Vijay
AjithKumar
y
K

In [21]:
# Slicing
# Slicing is used to extract a section from String
print(var1)
print(var2)
print(var1[0:3])# It slices 0,1,2(3-1) ,it includes lower bound(left) and upperbound(right) -1
print(var2[2:-5])
print(var1[:3])# when nothing is given in the lowerbound(left) it takes it as 0
print(var2[-4:])# when nothing is given in the upperbound it takes the len(var2)  as upperbound
print(var1[:])

Vijay
AjithKumar
Vij
ith
Vij
umar
Vijay

In [36]:
# Extended Slicing
# The third limit is optional which is used to take the values in a specific interval
print(var2)
print(var2[:len(var2):1])
print(var2[:11:1])
print(var2[2:7:2])
print(var2[0::2])
print(var2[::2])
print(var2[2:-1:2])

AjithKumar
AjithKumar
AjithKumar
ihu
Aihua
Aihua
ihua

In [31]:
print(var1)
print(var1[::1])
print(var1[::-1])# minus indicates slice should go from right to left
print(var1[::-2])
print(var1[::-3])

Vijay
Vijay
yajiV
yjV
yi

# String Functions

In [92]:
# It capitalizes first letter of each word
a = "vijay is a nice nice  person"
print(a)
print(a.title())
print(a.capitalize())# First letter capital
print(a.replace("nice","mice"))
print(a.count('nice')) # gives count of a sub-string
print(a.count('hari'))
print(a.find('nice')) # returns starting position of the given string ,only takes first occurence
print(a.find('kavi')) # if the given substring is not in the string it returns -1

vijay is a nice nice  person
Vijay Is A Nice Nice  Person
Vijay is a nice nice  person
vijay is a mice mice  person
2
0
11
-1

In [45]:
print(a)
print(a.upper())# full uppercase
print(a.lower())# full lowercase
print("raM".swapcase())# swaps the case
print(a.casefold()) # returns lowercase

vijay is a nice nice  person
VIJAY IS A NICE NICE  PERSON
vijay is a nice nice  person
RAm
vijay is a nice nice  person

In [54]:
print("473".isdigit())
print("cricket".isalpha())
print("cricket".islower())
print('658'.isnumeric())
print('658'.isdigit())
print('7wonders'.isalnum())

True
True
True
True
True
True

In [81]:
print(a)
# It strips white spaces and returns string
print(" dog ".strip(),type(" dog ".strip()),len(" dog "),len(" dog ".strip()))
print("    dog ".lstrip(),len(" dog ".lstrip())) # removes left whitespaces
print("dog   ".rstrip(),len(" dog   ".rstrip())) # removes left whitespaces
print(a.split(" "))# It splits the string with the given delimiter and returns list
print("what/is/this".split("/"))

vijay is a nice nice  person
dog <class 'str'> 5 3
dog  4
dog 4
['vijay', 'is', 'a', 'nice', 'nice', '', 'person']
['what', 'is', 'this']

In [52]:
print(a)
print(a.startswith('vijay'))
print(a.startswith('vi'))
print(a.endswith('person'))
print(a.endswith('son'))
print(a.startswith('Vijay'))
print(a.endswith('Son'))

vijay is a nice nice  person
True
True
True
True
False
False

# Regular expressions

In [18]:
# "re" is the module for regular expressions in python
# Regular expression are normally used to extract patterns from text
# It is very useful for data cleaning process
import re

In [12]:
# "search()", "findall()" and "sub()" are the most common regex function
# search() function searches for given pattern and returns an object, by using group() we get matched string
# search only returns the first occurence of the matched pattern
print(re.search('movie', "Schindler's list is a great movie. It is a movie about jews"))
print(re.search('movie', "Schindler's list is a great movie. It is a movie about jews").group())
print(re.search('movie', "Schindler's list is a great cinema. It is a cinema about jews"))

<_sre.SRE_Match object; span=(28, 33), match='movie'>
movie
None

In [25]:
#find all() returns all the matched occurences in a list
print(re.search(r'\w+n', 'moon pen max sun dog bun box').group())
print(re.findall(r'\w+n', 'moon pen max sun dog bun box'))

moon
['moon', 'pen', 'sun', 'bun']

In [13]:
# findall returns all the matched occurrences
print(re.findall('movie', "Schindler's list is a great movie. It is a movie about jews"))
print(re.findall('movie', "Schindler's list is a great cinema. It is a cinema about jews"))

['movie', 'movie']
[]

## + --  1 or more occurrences of the pattern to its left, e.g. 'i+' = one or more i's
## * -- 0 or more occurrences of the pattern to its left
## ? -- match 0 or 1 occurrences of the pattern to its left
## d -- Matches digits. Equivalent to [0-9]
## D -- Matches nondigits.
## w -- Matches word characters.
## W -- Matches nonword characters.
## s -- Matches whitespace.
## S -- Matches nonwhitespace.

In [31]:
print(1,re.findall(r'...n', 'moon'))# . matches any single character 
print(2,re.findall(r'\d?', '')) # 1 or 0
print(3,re.findall(r'\d+', '13131341'))# 1 or more
print(4,re.findall(r'\d*', ''))# 0 or more
print(5,re.findall(r'\d', 'shdk'))
print(6,re.findall(r'\d\d\d', 'a48242g'))
print(7,re.findall(r'\d+', 'a48242g'))# digits
print(8,re.findall(r'\w+', 'a48242Ag'))# includes all word characters

1 ['moon']
2 ['']
3 ['13131341']
4 ['']
5 []
6 ['482']
7 ['48242']
8 ['a48242Ag']

In [29]:
print('1',re.findall(r'\D+', 'asd48242dssg')) # non digits
print('2',re.findall(r'\s+', 'asd482 42d ssg'))
print('3',re.findall(r'\S+', 'asd482 42d ssg'))
print('4',re.findall(r'^om','om sairam om'))
print('5',re.findall(r'jai$','om sairam jai'))
print('6',re.findall(r'\w\w\w', '@@abcd!!'))
print('7',re.findall(r'\d\s*\d\s*\d', 'xx123xx'))
print('8',re.findall(r'\d\s*\d\s*\d', 'xx123xx'))

1 ['asd', 'dssg']
2 [' ', ' ']
3 ['asd482', '42d', 'ssg']
4 ['om']
5 ['jai']
6 ['abc']
7 ['123']
8 ['123']

In [ ]:
# {} curly brackets is instead of using "+" and "*" which is used to repeat any num of characters in the left
# this can restrict the repetition
num = "my phone num is 424-242-2422. Don't forget to call me tomorrow"
print(re.findall("\w{1,3}-\w{3}-\w{4}",num))
print(re.findall("\d{3}-\d{3}-\d{4}",num))

In [7]:
# Here we have to check the valid email Ids 
# square brackets  eg:[abc] matches 'a' or 'b' or 'c'.
str1 = "powerpandi@gmail.com rspmharimurugesan@gmail.com  rakesh*//13@$guindy.in kavi.123_cse@hotmail.com   raj_123babu@live.com"
match = re.findall(r'[\w.-]+@[\w.-]+', str1)
print(match)

['powerpandi@gmail.com', 'rspmharimurugesan@gmail.com', 'kavi.123_cse@hotmail.com', 'raj_123babu@live.com']

In [33]:
# we can replace all occurrence of the the pattern using sub() function
s1 = "Schindler's list is a great movie. It is a movie about jews"
re.sub('movie','cinema',s1)

"Schindler's list is a great cinema. It is a cinema about jews"

 
# String Formatting

In [35]:
# Python uses C-style string formatting to create new, formatted strings.

name = "venkat"
print("Hello, %s!" % name) # %s -> string

Hello, venkat!

In [36]:
# To use two or more argument specifiers, use a tuple (parentheses):
name = "subramani"
age = 49
print("%s is %d years old." % (name, age))# %d -> numbers

subramani is 49 years old.

In [38]:
# Any object which is not a string can be formatted using the %s operator as well
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [42]:
# can able to restrict num of decimal points as well
data = ("venkat", "ramani", 874.48728472)
format_string = "Hello"

print("%s %s %s your current balance is $%.3f"  %(format_string,data[0],data[1],data[2])) l

Hello venkat ramani your current balance is $874.487

In [43]:
# we can use curly brackets {} instead of %d ,%s ,%f etc.,
data = ("venkat", "ramani", 53.44)
format_string = "Hello"

print("{} {} {} your current balance is ${}".format(format_string,data[0],data[1],data[2]))

Hello venkat ramani your current balance is $53.44